[2019-01-23 16:58] andela-sjames commented on #793
Here is the ticket number for reference : (#191962)

[2019-01-24 18:56] Sazpaimon opened #799 "Patched cursor.execute return value inconsistent with actual return value"
When upgrading to ddtrace 0.20 from 0.16, I discovered that cursor.execute returns another cursor. In MySQLdb, the return value should be number of rows. I'm running Python 2.7.15 on Ubuntu 18.04
Simple test case:

Without patching:
[code]

With patching:
[code]

[2019-01-25 15:49] majorgreys commented on #797
Thank you for pointing this out @peter-featherstone.

As of now, you should be seeing the module that is not patched when debugging is enabled (`DATADOG_TRACE_DEBUG=true`).

The  `PatchException` is handled here:

https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/monkey.py#L152

Of course, turning on debugging in order to get the output you want is that the tracer would also be outputting

[2019-01-25 16:07] majorgreys commented on #798
@al-the-x, in our tests you'll find that instead of the `ddtrace.tracer` we make use of a "dummy" tracer:

https://github.com/DataDog/dd-trace-py/blob/master/tests/utils/tracer.py#L6

As an example, our `django` tests monkey patch the tracer writer for the `DummyWriter`:

https://github.com/DataDog/dd-trace-py/blob/master/tests/contrib/django/utils.py#L22

This avoids the situation where the trace

[2019-01-25 16:42] majorgreys commented on #799
@Sazpaimon I want to confirm that we are able to reproduce this. We will look more closely at this issue and loop back with you. Thank you for pointing this behavior out!

[2019-01-25 21:56] al-the-x commented on #798
Somewhat and thanks for the insight. What does [the `ENABLED` flag](http://pypi.datadoghq.com/trace/docs/web_integrations.html#django) actually control, if not the sending of spans? Shouldn't it prevent sending spans?

[2019-01-29 18:43] stj commented on #651
Created PR #805, with a different approach (it duplicates more code). Happy to address any feedback.

Next release of aiohttp will drop the old style middleware, would like to get dd-trace-py into a state that will allow us to update and test against aiohttp master.

[2019-01-30 06:09] ekimia commented on #786
sorry @majorgreys didnt forget about you. Will get you this by EOW.

[2019-01-31 19:48] ekimia commented on #786
[code]

[2019-02-03 14:10] babu-upcomer commented on #435
This issue started reappearing from ddtrace 0.16. We are stuck with 0.15.0. Using Django+gunicorn with gevent workers.

[2019-02-07 15:02] AndreiTapai commented on #357
Is there any workaround to get this done? Also annoyed by having multiple separate redis instances lumped together under one name

[2019-02-07 15:52] brettlangdon commented on #357
Unfortunately I have not tested this yet, but in theory we should be able to do:

[code]

The reason we have to do this is because `Pin.override` will only override for the specific instance passed in. Since the Redis client instance is different for `app.redis` and `queue.backend.client` the service name overriding will need to be done on both.

[2019-02-09 19:53] goodspark commented on #547
Hi all!

I've been looking at our DD APM integration again recently and I think I was wrong about all this!

I think what I'd prefer now is services to be named according to the actual resource they're for.

Ex: Lets say my service makes 3 calls to different AWS lambda functions. Right now I see:
![screenshot from 2019-02-09 11-44-32](https://user-images.githubusercontent.com/29210237/52525553-2f1

[2019-02-12 20:06] goodspark commented on #799
I'm seeing this as well.

[2019-02-13 14:04] defanator opened #825 "nginx-opentracing + libdd_opentracing_plugin: SpanContextCorruptedException: failed to extract span context"
I'm trying to set up an integration of nginx + nginx-opentracing module + DataDog tracer plugin + sample python app in order to get working multi-span traces in a manner when an app uses propagated context.

I'm getting the following error on every call:

[code]

Components used:
 - nginx/1.15.7
 - nginx-opentracing:
https://github.com/opentracing-contrib/nginx-opentracing/releases/tag/v0.8.0
 - D

[2019-02-13 14:08] defanator commented on #825
#826 fixes the reported error, though I'm still not seeing spans created within the application - instead I see single parent span (nginx-handle).

Appreciate any input.

[2019-02-13 14:08] defanator commented on #825
Just for the record, slightly modified version of the same app works fine with Jaeger and Zipkin, all child spans are being correctly passed and visualized.

[2019-02-13 21:31] jpcope opened #827 "import deadlock when setting gunicorn logger class"
Image from problem statement:

![image](https://user-images.githubusercontent.com/9321688/52745399-8ab88000-2fa4-11e9-8830-e00bc8b3b855.png)

RUNTIME:
1. flask
1. gunicorn
1. gevent
1. structlog

I wrote up a Simplest Repeatable Test Form for this one using docker so you can see exactly how we are making the runtime.

https://github.com/jpcope/srft/tree/issue/ddtrace-logging-import-bug

If I remov

[2019-02-13 22:59] jpcope commented on #827
This additional information was requested from a zendesk email:

[code]

output:
[code]

Exact package versions can be found in the file: https://github.com/jpcope/srft/blob/issue/ddtrace-logging-import-bug/Pipfile.lock
You may be more familiar with the general pip format from "pipenv run pip freeze"

[code]

Please see the SRFT: https://github.com/jpcope/srft/tree/issue/ddtrace-logging-import-bug

[2019-02-15 18:44] ekimia commented on #786
@majorgreys any updates on this?

[2019-02-15 21:38] brettlangdon commented on #799
Fixed by #830

This fix should be released next week as part of the `0.21.1` release.

[2019-02-15 22:57] brettlangdon commented on #827
@jpcope thank you for reporting this issue.

I started digging into it, and this is an interesting issue for sure.

I narrowed it down to being a deadlock in `importlib.import_module` when you circular import `from app import app` within `app/routes.py`.

With your example app, I can reproduce without `gunicorn` at all via: `ddtrace-run python wsgi.py`.

I have also confirmed that the problem does

[2019-02-15 22:59] brettlangdon commented on #827
Also note, we haven't run into this issue with customers using `gevent` before, but maybe there is something magical about the circular import which is raising the issue.

[2019-02-16 11:50] erseco opened #831 "500 Error with pylibmc+django+gunicorn"
Hi, I'm integrating the Django cache in my app, if I run gunicorn without `ddtrace-run` everything works ok, but running with `ddtrace-run gunicorn app.wsgi:application --name app --workers 2 --timeout 30 --log-level=DEBUG --log-file=- --bind=unix:/projects/app/run/gunicorn.sock` I'm getting this error:

[code]

My lib versions:
[code]

And my settings:
[code]
Any idea?

Thanks!

[2019-02-17 03:07] jpcope commented on #827
Thanks @brettlangdon !

I agree, the circular import is most likely the main reason that a deadlock happens. I am not aware if is or is not an acceptable practice in python and I am overall very surprised that the 3.6.5 import routines are not screaming that a circular import happened and is not supported. It could very well end up being a bug in python; an edge case they do not support but should

[2019-02-18 14:35] brettlangdon commented on #827
Yeah, circular imports do "work", but usually frowned upon because there are weird edge cases you can hit. You basically need to understand and document the behavior since if someone decides to move an import to the top of a file or something, then everything can fall apart.

For Flask setups I usually recommend going with the [Application factory pattern](http://flask.pocoo.org/docs/0.12/patterns

[2019-02-21 00:26] mrmachine commented on #512
Getting `cannot send spans to datadog:8126: [Errno -2] Name or service not known` with some regularity. Running Django project with celery under Docker Compose on a single host. Datadog agent is run via Docker Compose also. These errors are showing up in Sentry as originating from the celery service.

I wonder if these exceptions are also occurring in our gunicorn service, and I wonder if these ex

[2019-02-21 03:55] mrmachine commented on #512
Also seeing ```
failed_to_send traces to Datadog Agent: HTTP error status 413, reason Request Entity Too Large, message Content-Type: text/plain; charset=utf-8
X-Content-Type-Options: nosniff
Date: Wed, 20 Feb 2019 22:33:42 GMT
Content-Length: 18
[code]

[2019-02-21 18:38] majorgreys commented on #792
@carlosperello I wasn't able to reproduce this issue with async code on my end. Can you confirm this is still an issue?

[2019-02-21 22:01] brettlangdon commented on #799
`0.21.1` has been released which fixes this issue.

[2019-02-21 22:01] #799 closed

[2019-02-21 22:05] brettlangdon commented on #825
@defanator we just released #826 in version `0.21.1`

Happy to help dig into this further as well!

[2019-02-22 01:38] qiao-meng-zefr commented on #680
Just want to report that I'm still experiencing this issue with `ddtrace==0.21.0`. Sorry for such a long pause because I didn't get the chance to look into this.

tracemalloc doesn't show ddtrace as the cause for some reason. But after I disable tracer.wrap in my app the memory grow did stop. So I'm still suspicious about ddtrace. Sorry!

I did a little digging, and found that in `Tracer.trace` th

[2019-02-22 19:55] qiao-meng-zefr commented on #680
I've added a track of `len(ddtrace.tracer.get_call_context()._trace)` in my app and I can actually see it grows to hundreds of thousands quickly.

I realize that in `context.add_span` the span is added to self._trace, but in `context.close_span` it was not removed from self._trace.

Could this be an easy change by pop out that span from the list?

[2019-02-22 20:00] brettlangdon commented on #680
@qiao-meng-zefr how are you using `Tracer.trace`?

We always recommend creating a span with a `with` statement to ensure it is always closed.

[code]

Otherwise you will always have to ensure that `span.finish()` is called:

[code]

If `span.finish()` is never called, then it is never removed from the context and yes it could continue to grow on forever in size.

[2019-02-22 20:08] qiao-meng-zefr commented on #680
@brettlangdon I decorate `tracer.wrap` on my function, following [this doc](http://pypi.datadoghq.com/trace/docs/basic_usage.html#decorator)
[code]

And I do configure in main before the worker runs.
[code]

Is this correct?

[2019-02-22 20:26] brettlangdon commented on #680
@qiao-meng-zefr how long does `Worker.run` run for? I assume this is a long running process that does a lot of work?

Each context represents a single trace that will group all of the spans created together under the root span (the first span/top level span/etc) until the root span completes. If the root span is never closed then the trace will never be flushed and will stay in memory forever.

Th

[2019-02-22 23:45] qiao-meng-zefr commented on #680
@brettlangdon My `Worker.run` is a process that runs forever actually. That would explain it.

I have the root created even before `Worker.run`. After I move it inside my forever loop and the problem went away.

Thank you very much for the explanation.

[2019-02-25 00:48] brettlangdon commented on #680
@qiao-meng-zefr ah, yeah, that'll do it!

Glad you were able to resolve the issue, please feel free to reach out again in the future if you have questions/issues.

[2019-02-28 15:05] carlosperello commented on #792
We can discard this issue, it was a problem on my side, the ddtrace patching was done after logger initialization, and thus, I was getting wrong data there... Doing the patch before any system import fixes the issue.

Thanks and sorry for the noise.

[2019-02-28 15:05] #792 closed

[2019-02-28 15:07] brettlangdon commented on #792
@carlosperello not a problem at all, glad you were able to find a solution to your problem.

Please do not hesitate to reach out with any other issues in the future!

[2019-03-04 17:08] ekhaydarov opened #837 "Tornado 6 integration broken"
Upgrading to Tornado 6 throws an error
[code]

Was asked to raise it here by the datadog team for a more in depth discussion.

Let me know if i need to add any more details

Thanks

[2019-03-04 17:09] brettlangdon commented on #837
@ekhaydarov thank you for reporting! We'll try to triage this one as soon as can.

[2019-03-05 17:03] tlam opened #840 "How do I manually specify the environment with Flask?"
I am currently using ddtrace 0.22.0 and manual tracing of flask with http://pypi.datadoghq.com/trace/docs/web_integrations.html#flask and it is working properly. At the top of my app file, I have:

    from ddtrace import config
    from ddtrace import patch_all
    config.flask['service_name'] = 'myownservice'
    patch_all()

Data and traces are sent properly to datadog but I have the environmen

[2019-03-05 19:10] majorgreys commented on #840
@tlam Glad your traces are getting sent up. To specify the environment using the manual method, you can follow this:

https://docs.datadoghq.com/tagging/assigning_tags/?tab=python#environment-variables

[code]

[2019-03-05 19:27] tlam commented on #840
It looks good now, thanks.

[2019-03-05 19:27] #840 closed

[2019-03-11 07:50] villlem opened #841 "SQLAlchemy: ConnectionEvents.dbapi_error() event is deprecated"
SQL alchemy integration listens to `dbapi_error` event. (found here https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/contrib/sqlalchemy/engine.py#L70).

This event is deprecated sice sqlalchemy 0.9. Recently there is a warning:

[2019-03-19 03:41] ekimia commented on #786
@majorgreys any update?

[2019-03-19 19:40] Shikkic opened #851 "calling get_correlation_ids exception occurs"
I just setup injecting `trace_id` and `span_id` into a custom logger and it works well for most logs however in certain circumstances (I think for example a request that throws an exception right away) the function `get_correlation_ids` throw an exception:

[code]

I wonder if this is because in `get_correlation_ids` [it always assumes the the global `tracer` is initialized and not `None`](https:/

[2019-03-19 20:32] brettlangdon commented on #851
Fixed by #852 and will go out in the next release.

If you wanted to give it a try until then you can install from the next release branch via:

[code]

[2019-03-19 20:35] Shikkic commented on #851
Thanks @brettlangdon, I'll give it a try on the new release and can reopen if I notice the same behavior happening. I appreciate your quick response and work to help fix this!

[2019-03-19 20:35] #851 closed

[2019-03-21 15:49] leoyu037 commented on #360
It looks like outgoing gRPC calls are autoinstrumented now, but I'm also interested in support for autoinstrumenting incoming requests to gRPC servers.

[2019-03-24 06:19] babu-upcomer commented on #435
@palazzem Any update?

[2019-03-26 03:11] palazzem commented on #435
Hello @babu-upcomer !
We'll start investigating this issue again, even though it's very weird it surfaced again. @majorgreys can you double check in case we have a regression?

Thanks to report that! we'll reach you back as soon we have news to share!

[2019-03-26 09:31] babu-upcomer commented on #435
[code]

[2019-03-26 09:38] babu-upcomer commented on #506
@brettlangdon What is the update? Datadog is too erroneous with gevent at all levels. It doesn't work properly with gunicorn, celery etc., and you don't have any concrete one way doc with configuration instructions.

[2019-03-27 16:34] mlennon-lumere commented on #732
I'm seeing this issue on ddtrace 0.23.0, on the following query:
[code]
I'm trying to write a small app to isolate the issue

[2019-03-28 13:31] jd opened #859 "tests.test_integration.TestWorkers testMethod=test_worker_http_error_logging randomly fails"
[code]

Full log at https://circleci.com/gh/DataDog/dd-trace-py/105520

[2019-03-28 13:43] bmurphey opened #860 "RateSampler is very noisy"
This is just my opinion but I imagine I'm not alone.  Please feel free to tell me this is a bad idea!  It seems like logging % of sample traces as `info` is a bit much... take a look at this sample from Airflow:

[code]

These logs seem to be coming from [here](https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/sampler.py#L41).

I would think just setting it to `log.debug()` would allow us

[2019-03-28 14:01] bmurphey commented on #860
I added https://github.com/DataDog/dd-trace-py/pull/861 to address this issue.  I apologize if I did it incorrectly!  Please let me know if you need any more information.

[2019-03-28 14:58] kevinc commented on #798
just noticed this happening in my tests as well

@majorgreys so is your recommendation to make use of that dummy writer? i'd be curious about the answer to @al-the-x 's question as well

[2019-03-30 01:55] irabinovitch commented on #453
@squarelover did updating to 0.17.x help?

[2019-03-31 20:54] ekimia commented on #786
@majorgreys anything? We have to stop using datadog since we cant use this in production :(

[2019-04-01 18:48] mlennon-lumere opened #867 "Tracing cannot serialize psycopg2 Composed type"
This may be a regression of #732

I have a bit of code like the following:

[code]

When I run this with datadog set up, I get logs like this:
`cannot send spans to localhost:8126: can't serialize Composed([SQL('SELECT EXISTS (SELECT * FROM '), Identifier('foo_table'), SQL(' FOR UPDATE SKIP LOCKED LIMIT 1)')])`

This is with version 0.23.0 of dd-trace-py, version 2.7.5 of psycopg2, and version 2.1

[2019-04-02 14:05] jd commented on #786
I've tried to reproduce it without success.

[code]

[code]

For whatever reasons this seems quite app-specific.

[2019-04-02 14:48] jd commented on #786
It's actually reproducible with Python 3.6, but not with Python 2.7 (thanks @majorgreys).

[2019-04-02 15:18] majorgreys commented on #786
One more finding from our investigation, this happens only when using `gevent` workers class.

@ekimia Are you able to consider using another worker class for this app, like `gthread`?

[2019-04-03 21:13] ekimia commented on #786
appreciate the update @majorgreys, will chat with my team and update this thread on Friday

[2019-04-05 13:56] jd opened #876 "tests.contrib.aiohttp.test_request_safety.TestAiohttpSafety testMethod=test_multiple_full_request randomly fails"
[code]

See https://circleci.com/gh/DataDog/dd-trace-py/110366

[2019-04-05 15:29] majorgreys commented on #860
Thank for highlighting this issue @bmurphey. I agree that there setting logging level to info should filter out what might otherwise be noise. @brettlangdon and I have had a few discussions about improving logging. Your input here will be super helpful in that process.

As some context, a new instance of the `RateSampler` is created for each service by `RateByServiceSampler`. To be sure, in your c

[2019-04-05 20:17] bmurphey commented on #860
Hi @majorgreys, I'm honestly not sure exactly why there would be that many services, aside from it possibly being related to how Celery manages tasks?  This level of log noise is common to all of our Airflow DAGs, whether using awscli in bash like the DAG this log sample was pulled from, or pure Python.  These blocks of sampler logs are repeated multiple times throughout each DAG run.

I agree wit

[2019-04-08 17:44] ekimia commented on #786
@majorgreys for our application we need to use gevent. Can definitely switch to another in the short term, but wont be able to ride that wave for long

[2019-04-09 14:18] #860 closed

[2019-04-10 10:19] jd commented on #876
Just saw this happening again:

[code]

https://circleci.com/gh/DataDog/dd-trace-py/112579

So the fix might not be enough.

[2019-04-10 11:33] jd commented on #876
At first, I thought that traces were missing, but it's actually the other way around. `traces` contains 2 list of spans, one with 10 items and one with 1 item.
Where does that second list with 1 item comes from is a mystery for now.

[2019-04-11 00:32] goodspark commented on #613
This works now with a recent fix to handling futures.

[2019-04-11 00:32] #613 closed

[2019-04-11 11:42] rollokb commented on #662
Hey @brettlangdon!

If you're looking for a solution to this. I found it's because botocore while being patched gets imported, and imports some of it's own dependencies, including urllib.

The solution is a little bit messy. So with `ddtrace-run gunicorn -k gevent` I found the solution was to disable botocore, and anything else that imports urllib like so:

[code]
Then explicitly patch them again

[2019-04-12 12:56] jd opened #883 "tests.internal.runtime.test_runtime_metrics.TestRuntimeWorker.test_worker_metrics fails randomly"
[code]

https://circleci.com/gh/DataDog/dd-trace-py/114364

[2019-04-15 11:00] jd opened #885 "Inconsistency for `http.url` between frameworks"
It is unclear what the tag `http.url` should contain, and therefore some frameworks behave differently. For example, _Falcon_ will put a full URL including the query string, e.g. `http://falconframework.org/200` whereas _molten_ will set simply set the request path e.g. `/foobar`.

[2019-04-15 17:03] carlosperello opened #888 "Hard to get django and logging integrations working together"
I tried to use the logging module together with Django so I can track log output with APM traces. I tried several combinations without success to get them working well.

- Using django app for django and `ddtrace-run` or logging's module patch method.
- Using `ddtrace-run` for both, django and logging module.
- Using ddtrace's patch method with `django=True` and `logging=True`

Only the third opti

[2019-04-16 13:28] brettlangdon commented on #750
@jcassee as of `0.21.0` we now enable distributed tracing by default.

[2019-04-16 13:28] #750 closed

[2019-04-16 13:33] jcassee commented on #750
Great, thanks @brettlangdon!

[2019-04-17 13:45] galonsky commented on #460
@brettlangdon has there been an official fix released for this yet? and if not, is the partial flush feature still "experimental" / not fully supported?

[2019-04-17 13:46] brettlangdon commented on #460
@galonsky there has not, but #801 is intended to resolve this issue, hoping to get it out with the next release... maybe the one after that if something comes up.

[2019-04-19 15:22] jd opened #893 "TestTracer.test_start_span_multi_intertwined fails randomly"
[code]

[2019-04-22 16:12] #208 closed

[2019-04-22 16:27] brettlangdon commented on #299
@jbonzo closing this issue as it appears to have been answered awhile ago. Please feel free to re-open if not, or open a new issue if you have any other questions!

[2019-04-22 16:27] #299 closed

[2019-04-22 16:34] brettlangdon commented on #124
@jhgg sorry for the very long delay in replying to this issue.

It does appear that this is still the case in the current redis client:

https://github.com/andymccurdy/redis-py/blob/01300521a116893db4f4fab33c518ebbd3a801d5/redis/client.py#L3569-L3576

However, I think it is still useful to include the `NoScriptError` for the `evalsha` span. My thinking here is that while the redis client does reco

[2019-04-22 16:34] #124 closed

[2019-04-23 00:04] majorgreys commented on #786
@ekimia I have been looking at this issue and wondered if you could try including the `--preload` option when running your app from `gunicorn` with `gevent` workers?

[2019-04-23 00:15] majorgreys commented on #683
Closing since v0.16.0 was released in #704

[2019-04-23 00:15] #683 closed

[2019-04-23 01:25] majorgreys commented on #373
I was able to reproduce the `Error: cannot release un-acquired lock` from @lbenka using `ddtrace==0.15.0` with `preload_app = True`.

However, upgrading to `ddtrace==0.24.0` does not experience the same problem with `preload_app = True`:

[code]

Being the issue with a previous version of the tracer is no longer reproduced, I will go ahead and close this issue.

[2019-04-23 01:25] #373 closed

[2019-04-23 08:57] jcassee opened #897 "[Feature] Support the DD_SERVICE_MAPPING environment variable"
The Java tracer can rename services in traces using the DD_SERVICE_MAPPING environment variable. It would be nice to have the Python tracer support it too (or a similar mechanism).

[2019-04-23 13:33] brettlangdon commented on #897
@jcassee thanks for the feature request.

How would you intend to use this feature in Python? Is there a service name you are currently unable to control the name of?

[2019-04-23 14:27] jcassee commented on #897
Yes, we currently have a couple of Java, Python and Node applications that access a Postgres database. All of the Datadog trace libraries use a different name for the Postgres service:
* Java calls it "postgresql"
* Python calls it "postgres"
* Node calls it "<application>-postgres"

I would like to consolidate them.

In the Python application we use SQLAlchemy, and the only way to change to servi

[2019-04-24 12:27] brettlangdon opened #898 "Failing to send traces when using flush by payload size and partial flushes"
Issue copied from https://github.com/DataDog/dd-trace-py/pull/801#issuecomment-486066770

@brettlangdon I'm struggling to send traces for Django management commands, taking ~30s to ~10m to execute. I thought I'd give this branch a shot to see if it solves my problems. Unfortunately it did not, and I noticed a possibly undesirable side-effect.

Here's my log from executing the management command co

[2019-04-24 13:03] brettlangdon commented on #898
@mrmachine can you describe what the trace is doing exactly? I assume it is a cli script that is making a ton of database calls?

One thing worth noting that we have found is that traces that produce a ton of spans (say 2k or more spans) tend to be extremely difficult to read, it might be worth evaluating the structure of this trace to determine if there is any way to simplify it.

The background

[2019-04-24 13:54] mrmachine commented on #898
@brettlangdon Yes, it is a CLI script that is making a tonne of DB calls (and doing a tonne of data transformation in Python).

The script is executed very infrequently, but it's very slow and I am trying to optimise it. I don't really need to collect a tonne of traces for this script. Just one at a time, so I can identify N+1 queries in a loop and also bottlenecks in Python in between DB calls. T

[2019-04-24 14:10] brettlangdon commented on #898
@mrmachine all makes sense.

Let me think on this a bit and try to see if I can get a similar setup locally to figure out how best to address.

I am not 100% sure about the broken pipe issue, it could be due to latency, most of the time people run the datadog agent locally so our connection timeouts are usually kept pretty low.

[2019-04-24 15:27] jd opened #900 "test_start_span_custom_start_time fails randomly"
[code]
https://circleci.com/gh/DataDog/dd-trace-py/118474

[2019-04-24 18:38] majorgreys commented on #867
@mlennon-lumere We have a test for this which should be catching such a regression:

https://github.com/DataDog/dd-trace-py/blob/master/tests/contrib/psycopg/test_psycopg.py#L271

Starting with a basic Django app based on https://docs.djangoproject.com/en/2.2/intro/tutorial01/, I was able to get the following trace for a query like you describe above:

![image](https://user-images.githubuserconten

[2019-04-24 18:43] mlennon-lumere commented on #867
I had tried to get such an example set up, but I was unable to get any trace at all on a locally-running django project with ddtrace installed.  If I was able to get around that, I'd be very happy to set up a complete example

[2019-04-24 20:37] majorgreys commented on #867
I've updated our example for Django:

https://github.com/DataDog/trace-examples/tree/master/python/django-tutorial-docker

If you set the environment variable `DD_API_KEY`, this example will bring up the tutorial application with tracing enabled.

Once you have the application started and database migrations executed, you can test whether spans are being generated properly for`psycopg2.sql.Composa

[2019-04-25 07:30] jd commented on #883
This still fails:

[code]

https://circleci.com/gh/DataDog/dd-trace-py/119577

[2019-04-25 07:31] jd commented on #883
The thing hey have in common seems to be:

[code]

[2019-04-25 15:23] goodspark opened #905 "Scrolling for the left-side menu on the API docs is broken"
Chromium, Ubuntu

Go to http://pypi.datadoghq.com/trace/docs/advanced_usage.html
Scroll up and down
If your browser window is short enough, you'll notice the left-side menu doesn't scroll with the page, leaving some parts inaccessible.

Video: [vokoscreen-2019-04-25_08-21-40.zip](https://github.com/DataDog/dd-trace-py/files/3117626/vokoscreen-2019-04-25_08-21-40.zip)

Since the API docs are genera

[2019-04-26 14:43] coulix opened #909 "Asyncio - DATADOG_ENV is not read by tracer configure"
Using asyncio the env var `DATADOG_ENV` is not taken into account.

[2019-04-26 21:36] brettlangdon commented on #905
@goodspark thanks for catching this. We have fixed in #906 and our docs will update the next time we release (probably early next week).

[2019-04-26 21:36] #905 closed

[2019-04-27 07:07] thehesiod commented on #285
ping ping ;)   https://github.com/DataDog/dd-trace-py/pull/294

[2019-04-27 07:19] thehesiod opened #910 "asyncio task parenting broken"
I added the task parenting in https://github.com/DataDog/dd-trace-py/issues/247, however in a recent change it was broken because now the parent info is cleared out after the last span is removed from the context.  I added a fix for this here:
so in https://github.com/DataDog/dd-trace-py/pull/400/files#diff-1f4ab29acf614c9b2686031a425ee0f6R211

[2019-04-28 23:29] mrmachine commented on #898
@brettlangdon I just reviewed sentry errors on our production environment where Datadog agent is running on the same host as ddtrace-py. In 24h we have 78x `cannot send spans to host.docker.internal:8126: [Errno 32] Broken pipe` errors and 214x `failed_to_send traces to Datadog Agent: HTTP error status 413...` errors. But this is using `ddtrace==0.23.0` and without `export DD_TRACER_PARTIAL_FLUSH_

[2019-04-29 19:16] sciyoshi commented on #738
I'm seeing this issue as well after updating `dd-trace-py`.

[2019-04-29 19:38] sciyoshi commented on #738
Looks like this happens during test cleanup if there's a database error during a test:

[code]

Django changes the cursor to a failed object and can't restore it from the `wrapped` attribute on teardown.

[2019-04-30 07:44] aonamrata opened #912 "Tornado: Can we add request path as resource on execute and on_finish?"
Ref: https://github.com/DataDog/dd-trace-py/commit/d14d12909829427bddf74c3ab8ea6dfb827042fd

Can we add path as resource on execute and on_finish?
https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/contrib/tornado/handlers.py#L35-L39

At present all my endpoints use same handler but what I see in datadog empty name and multiple requests get merged in on single trace.
![image](https://user-

[2019-04-30 07:49] jd commented on #912
Isn't the path stored as a tag usable in this case?

[2019-04-30 08:23] jd opened #914 "tests.contrib.tornado.test_safety.TestAsyncConcurrency.test_concurrent_requests fails randomly"
[code]

https://circleci.com/gh/DataDog/dd-trace-py/121252

[2019-04-30 12:58] jd opened #917 "TestCassPatchOne.test_paginated_query randomly fails"
[code]
https://circleci.com/gh/DataDog/dd-trace-py/121494

[2019-04-30 15:25] #914 closed

[2019-04-30 15:47] majorgreys commented on #827
@jpcope Thank you for sharing the repo. It made diagnosing the problem a whole lot easier.

I found that your issue is resolved if you upgrade `ddtrace` to `>=0.21.0`. I've included the diff of my working directory with your repo. I avoided using the provided `Pipfile.lock` in the `Dockerfile` script (as well as changed the starting image since `jessie` was throwing up repo errors).

Can you pleas

[2019-05-01 08:16] aonamrata commented on #912
yes, but we have to go through each one of the list item to find the request that we want.

[2019-05-02 16:52] brettlangdon commented on #786
@ekimia thanks again for reporting this issue.

@majorgreys and I were able to dedicate some time to dig into this further. We found the source of the issue and we have temporary work around while we figure out the best approach to resolve.

The first thing we noticed was that this issue only happens when using `ddtrace-run`, if you manually added `ddtrace.contrib.django` to `INSTALLED_APPS` then

[2019-05-03 08:49] #900 closed

[2019-05-03 14:32] #885 closed

[2019-05-06 04:23] paymog commented on #909
I'm seeing this with `gthread` workers with gunicorn

[2019-05-06 08:11] paymog opened #925 "Add graphql support"
Are there plans to support graphql/graphene in the python implementation of ddtrace? It seems the JS library supports graphql and gives us insight into which graphql query/mutation is called with each request along with it's parameters.

[2019-05-06 13:45] brettlangdon commented on #925
@paymog we do have plans to add `graphene` support, but we do not yet have an ETA on when the work will begin.

[2019-05-07 14:26] #859 closed

[2019-05-07 14:26] #883 closed

[2019-05-07 19:20] kevinhyang opened #926 "Django: Custom trace middleware support"
We have a use case where we would like to extend TraceMiddleware and pick the service dynamically based on the request endpoint. The current structure seems rather rigid in the way the TraceMiddleware is inserted.

I was wondering if there are any current plans to extend this piece:
https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/contrib/django/apps.py#L41-L42
... to allow for more flex

[2019-05-08 16:36] luozhaoyu opened #927 "Http 5xx errors status are categorized as "OK" instead of "Error" in APM tracing for Bottle plugin"
Hi there,

## Issue
I find the issue that APM metrics "trace.bottle.request.errors" is different from my internal counter about number of Http 5xx.
I assume Http 5xx would be **all** categorized as "errors", then I look at APM trace search and find I have 3785 traces are 5xx, but 2880 of them's status is "OK", 905 of them's status is "Error" (see screenshot)

<img width="317" alt="Screen Shot 2019

[2019-05-13 15:29] apenney opened #935 "Stuck in "Waiting for GIL""
Hi,

We found a thread that seems blocked forever:

[code]

Here's the single thread:

[code]

Here's the backtrace:

[code]

I'm not sure how to troubleshoot from here.  Have you seen this before, or have any suggestions on what I could look at?  It's the only thread in process so nothing should be holding the GIL.

[2019-05-13 16:40] apenney commented on #935
My boss has been digging into this, some more useful info:

[code]

So hopefully that helps, ddtrace samples the parent, we generate children, and these sometimes hang.  We confirmed that's true by doing a "return/finish" in gdb to force them to carry on.

[2019-05-13 17:22] paultiplady commented on #798
@majorgreys this looks like a bug, the docs state

[code]

But from this thread (and inspecting the code) it looks like this isn't actually wired up.

Expected behaviour is that there is some way to turn off tracing when the module is enabled, so that I can run my code without errors in a dev environment.

Can you please clarify how we're supposed to turn off tracing in a live app, if there is a w

[2019-05-13 18:16] jd commented on #935
Are the parent or the children blocked, or both?
Since the app is forking, the parent/children relation should have no impact on the lock since they are duplicated.

[2019-05-13 18:28] apenney commented on #935
Just the child, and only 1 of multiple.  The others had all exited cleanly, with just the 1 child left waiting for the lock.

[2019-05-13 19:37] majorgreys opened #936 "Improving visibility into Django Rest Framework"
When we add Datadog APM to https://github.com/encode/rest-framework-tutorial, we find a lack of visibility into Django Rest Framework (DRF):

![image](https://user-images.githubusercontent.com/155673/57648112-a37c0600-7592-11e9-9399-9e74244916d3.png)

The tracer support for DRF relies on the existing Django trace middleware along with the patching of template, db, and cache calls.

I wanted to ope

[2019-05-16 17:42] felippemr commented on #460
Hey folks, any news on this?

[2019-05-17 16:56] brettlangdon commented on #926
@kevinhyang could you explain your use case a little more in-depth? What are you trying to solve for? Is there a reason why you want to use a different service name based on the endpoint?

[2019-05-17 17:43] kevinhyang commented on #926
Basically we're trying to use `RateByServiceSampler` to dynamically change the sample rate per request (ie. heavily used endpoints would get a sample rate of 0.1 whereas more lightly used important endpoints would get a sample rate of 1)

[2019-05-17 20:30] #893 closed

[2019-05-20 16:39] apenney commented on #935
After further experimentation, we have noticed this ONLY happens in memcache.  We've excluded tracing for that and seen no hangs since.

We're using an ancient django (1.8).  Could we be seeing some weird behavior with ddtrace that is fixed on a newer django, I wonder.

[2019-05-21 13:01] #876 closed

[2019-05-22 00:32] kevinhyang commented on #926
@brettlangdon did you have any additional input?

A better way might be to allow `insert_trace_middleware` and `insert_exception_middleware` to pull `TRACE_MIDDLEWARE` and/or `EXCEPTION_MIDDLEWARE` from the settings instead of only allowing the default (hard coded) value here: https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/contrib/django/middleware.py#L54

Again, we're happy to do the

[2019-05-22 01:18] brettlangdon commented on #926
@kevinhyang sorry for the delay on my end.

I shared this feedback with the team internally to try and figure out if there is a better approach, but the only suggestion we have right now is to write your own sampler that inherits from our [AllSampler](https://github.com/DataDog/dd-trace-py/blob/f687bd38758cdbc30ef8c80e9c14e3badab20554/ddtrace/sampler.py#L18)

And then you can configure with:

[cod

[2019-05-22 16:29] kevinhyang commented on #926
@brettlangdon thanks for your response.

This won't work for us because:
1. The sampler does not have access to the request.
2. https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/tracer.py#L240 The root span gets set by `TraceMiddleware` (and TraceMiddleware gets inserted as the first middleware). Subsequent middlewares cannot adjust the sampler since the root span has already been started

[2019-05-23 16:51] drytdubs commented on #796
@majorgreys I also ran into the log-swallowing issue, as our application code configures logging at startup using `basicConfig` and as you've called out, using `ddtrace-run` to wrap an application uses up the single use of basicConfig for the application.

The unexpected behavior from our perspective is that this call to `basicConfig` is triggered whether or not one intends to use log injection, s

[2019-05-24 23:44] ejholmes commented on #613
@goodspark curious what fix you're referring to. We're running into similar issues with some code that uses threads to parallelize some work.

[2019-05-28 16:27] goodspark commented on #613
I believe the fix was https://github.com/DataDog/dd-trace-py/releases/tag/v0.20.3 although I haven't done a full before-after test to verify. I'm now on 0.24.0 and span from futures appear correctly for me (ie. they branch out vertically and run in parallel to the parent spans and they don't cause mega-traces like the image above).

[2019-05-29 02:41] jasonkuhrt opened #951 "mypy stub files"
mypy throws an error when ddtrace is in use:

![image](https://user-images.githubusercontent.com/284476/58525411-a7ff0c00-8199-11e9-8bcb-770aeeeda3fb.png)

It would be nice if this library could ship with stub files or be put on https://github.com/python/typeshed. I'm not sure how to do that yet but maybe someone here is.

More info from mypy side here https://mypy.readthedocs.io/en/latest/running

[2019-05-29 11:19] brettlangdon commented on #951
@jasonkuhrt thank you for opening the request, this has been on my personal todo list for awhile.

I also do not know how to do it, but would love to try and find the time to do this.

[2019-05-29 13:14] jasonkuhrt commented on #951
@brettlangdon fwiw this is what we did locally in our project to satisfy mypy (we're only stubbing the parts we use, not complete, of course)

![image](https://user-images.githubusercontent.com/284476/58559945-24253e00-81f2-11e9-96a4-90ac9ea762e4.png)

[2019-05-29 13:34] brettlangdon commented on #951
Nice! Thanks for sharing.

[2019-05-31 08:26] kitsuyui opened #953 "Feature request: pyodbc support"
Is there any plan to support pyodbc?
pyodbc allows to connect various databases which supports ODBC (Google BigQuery, Hive, MySQL, PostgreSQL, Microsoft Access, Excel, SQL Server, ...). https://github.com/mkleehammer/pyodbc/wiki/Connecting-to-databases

If it was implemented, DataDog can be applied in many use-cases.

[2019-06-03 13:48] galonsky commented on #460
hi @brettlangdon any updates?

[2019-06-03 13:52] brettlangdon commented on #460
@galonsky we have #941 ready to merge, we just want to do some testing on it internally before we ship it.

[2019-06-03 16:05] apenney commented on #935
We turned tracing back on with memcache disabled and while it was much better we eventually saw it in other parts of the code, a few times around mysql.

I saw cases where there was "waiting for GIL lock" in a process that only had one thread.  Very confusing. :(  We've disabled tracing in general again.

[2019-06-05 11:28] darrint commented on #925
Since there isn't a good solution that would work for us now, I cooked up this resolver/mutator decorator to give us some insight for now.

We use Graphene and Django so all our GraphQL requests just show as 200s under the graphene view. I couldn't find a good way to instrument Graphene to only trace methods that really matter.

We haven't tried this in production yet but it looks good so far. I'd

[2019-06-07 12:20] jd commented on #935
Do you have the backtrace of such a process? That'd be utterly interesting to see where it hangs, and if it's always the same place.

For now we only have the backtrace you provided in https://github.com/DataDog/dd-trace-py/issues/935#issue-443463736 and we'd like to be sure it's always the same code path that is deadlocking.

[2019-06-07 12:53] apenney commented on #935
Last one I have was:

[code]

[2019-06-07 12:54] apenney commented on #935
One before that:

[code]

[2019-06-07 13:56] brettlangdon commented on #453
Closing this issue, @squarelover please feel free to re-open if you are still experiencing this issue.

[2019-06-07 13:56] #453 closed

[2019-06-07 16:04] jd commented on #935
Thanks a lot! I've a PR in https://github.com/DataDog/dd-trace-py/pull/959 that might help fixing this. If you're brave enough to test it, that'd be amazing :)

[2019-06-11 14:24] #935 closed

[2019-06-11 17:59] brettlangdon commented on #925
@darrint sorry for the delay getting back to you.

In general the approach you have looks good, and isn't far off from how our integrations work.

The only thing I see really worth noting is your manual use of contexts and providers. None of this should be necessary. As long as you are setting a different service name we'll parse these spans as a different service, e.g. they don't need to be their

[2019-06-11 23:13] luongthomas opened #962 "Add RQ support"
I was wondering if there was any work being done to support [RQ](https://github.com/rq/rq) so that job information is submitted to Datadog.

If not, then I'm considering implementing the feature myself (but I think I might need a little guidence).

[2019-06-11 23:19] brettlangdon commented on #962
hey @luongthomas, I actually ran into someone else recently who was using this.

We do not currently have RQ on our roadmap but if you were interested in writing an integration we'd be happy to try and help out!

[2019-06-11 23:29] brettlangdon commented on #962
I definitely don't know enough about `rq`, but from a quick glance at the code, it seems like the majority of what we'd want to trace is in `rq/job.py` in the `Job` class.

[2019-06-12 11:06] darrint commented on #925
Thank you for the advice.

I've looked at graphene and I don't know what I'd patch there. I want to wrap all user-provided resolvers, and I don't see any function in there which could consistently catch those. Their middleware seems promising but is called way too much, and too little information is provided at call time. I don't see how I could provide useful instrumentation there without making

[2019-06-12 12:00] barraquito opened #963 "celery producer stop trace reporting after celery update"
We have updated this morning our Celery installation on production, and just after it we stop to receive `celery-producer` traces in our Datadog. These had been the changes in our `requirements.txt` file:

[code]

Also we have made a couple of changes related to Celery config for the migration. In `celery.py`, where celery is patched:

[code]

In `settings.py`:

[code]
I tried to update `ddtrace`

[2019-06-13 18:51] SuyogSoti opened #968 "tracer.current_span() not working like expected"
[code]

make_request creates and ends the span it creates. make_request also uses the dd_tracer.current_span() function. I would expect that the current span is the parent span which has the name "Overall". This may just be that I have the wrong idea on what to expect, but please advise.

[2019-06-14 03:47] dkgramming commented on #837
It seems like `tornado.stack_context` was removed in Tornado 6.0.0: https://www.tornadoweb.org/en/stable/releases/v6.0.0.html#backwards-incompatible-changes

[2019-06-17 17:55] brettlangdon commented on #926
Closing this issue as we have a support thread tracking this.

[2019-06-17 17:55] #926 closed

[2019-06-20 14:27] nickwilliams-eventbrite opened #972 "Memory leak if traces created but trace agent not running"
It is possible to record traces/spans even if the trace-publishing agent is not running. The code does not issue any kind of warning to the logger and, importantly, it does not discard traces that can't be published. As such, the queue of unpublished traces just keeps growing to infinity.

In an extremely short amount of time (< 1 hour), our application consumed over 600MB of memory before our orc

[2019-06-20 14:37] nickwilliams-eventbrite commented on #972
In case it helps, here's an explanation of how we got in this state: We're running a uWSGI/Django web application. We needed to customize the Datadog tracing middleware to do things slightly differently, so we couldn't insert `ddtrace.contrib.django` into `INSTALLED_APPS`, because that app forcibly inserts the original middleware (which we don't want) into Django's list of middleware. So we added

[2019-06-20 14:42] johnhuffsmith commented on #936
Duplicate of https://github.com/DataDog/dd-trace-py/issues/324

[2019-06-20 15:13] brettlangdon commented on #972
hey @nickwilliams-eventbrite thanks for bringing to this our attention.

Whenever you import `ddtrace` we create a default global `Tracer` which calls `self.configure(...)` itself. https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/tracer.py#L48-L55

So there should be a background worker running.

If there is a writer and it fails to write to the trace agent (for whatever reason), those t

[2019-06-20 17:19] nickwilliams-eventbrite commented on #972
Yes, we're using the `with` block with all traces, so they are for sure getting closed. All I can tell you is what I observed: Using `tracemalloc`, I saw `ddtrace.span` and a few other `ddtrace` modules collectively holding on to tens of megabytes of data (thousands of spans with no spans closed) after about 1000 requests on a single uWSGI worker. When I added `tracer.config(...)` to our applicati

[2019-06-20 17:21] nickwilliams-eventbrite commented on #972
Oh, we're currently using 0.17.1. I forgot to mention that.

[2019-06-20 17:54] brettlangdon commented on #972
Interesting that `tracer.configure(...)` solves the problem...

Wonder if upgrading to the latest version of `ddtrace==0.26.0` helps any, otherwise we might need to dig through our code a bit to see why something would be holding on to references.

[2019-06-20 19:18] nickwilliams-eventbrite commented on #972
Because this library is still beta and, so, doesn't strictly follow Semver, we're very cautious about upgrading it. We can look into trying out 0.26.0 sometime soon, but it won't happen quickly. We use it everywhere, and so upgrading poses significant risks to our platform.

[2019-06-20 19:28] brettlangdon commented on #972
Even though we are not a 1.x.x library, we take Semver very seriously and do everything we can to keep a stable library for our customers.

For most people upgrading should require little to no changes in your application code as a lot of what we provide is automatic/OOTB instrumentation.

We do however like to try to get people to upgrade to ensure they have access to the latest features and bug

[2019-06-28 13:31] brettlangdon commented on #700
@chrono as we have not heard from you in a while going to close this for now, please feel free to reopen if you are still experiencing the issue.

[2019-06-28 13:31] #700 closed

[2019-06-28 14:11] chrono commented on #700
Yeah we haven't had any issues recently (versions used: 0.18.0 and 0.25.0) with no significant blacklisting. Sorry for lack of feedback on this, I was on pat leave for a few months.

[2019-06-28 14:12] brettlangdon commented on #700
No worries at all! Glad everything is working out.

Also... congrats!!! 👶

[2019-07-01 16:23] ewjoachim opened #983 "'async for' requires an object with __aiter__ method, got AIOTracedCursor"
## Problem
Using ddtrace and aiopg, if I do:

[code]
If my connection is not patched, I get:
[code]
(if my connection is not patched, it works)

## Analysis

The cursor class is replaced with `AIOTracedCursor` which inherits `wrapt.ObjectProxy`.

Problem is, while thanks to `ObjectProxy`, `AIOTracedCursor().__aiter__()` would most probably work and return whatever the real proxy would return, this

[2019-07-01 16:26] ewjoachim commented on #983
I'm going to try a fix: explicitely define `__aiter__` and make it call `underlying_cursor.__aiter__`

[2019-07-01 16:59] brettlangdon commented on #983
hey @ewjoachim thanks for the report.

Nice investigation, yeah, if you wanted to submit a PR what we probably need to do is add `__aiter__` method to the object proxy we are returning.

It should be something like:

[code]

Not 100% sure if we need it to be `async def __aiter__` or not, but just wanted to showcase the `self.__wrapped__.__aiter__()` part as the way to access the thing wrapped by t

[2019-07-01 17:21] ewjoachim commented on #983
Yep, I had this part alright. I'm struggling to write tests that will not SyntaxError under python versions that don't have "async for" at the moment :D

[2019-07-01 17:24] brettlangdon commented on #983
This might help: https://github.com/DataDog/dd-trace-py/blob/master/conftest.py#L23

TL;DR; you can use folders named `py{27,34,35,36,37,38}` to specify minimum required Python version for running tests.

[2019-07-02 01:20] sazlin opened #986 "[Django + uwsgi] DATADOG_TRACE settings never loaded"
I'm trying to use dd-trace-py to hook up a Django 1.8 webapp w/ Datadog's APM feature. I've followed the directions [here](http://pypi.datadoghq.com/trace/docs/web_integrations.html#django) for configuring dd-trace-py with Django for APM but those instructions haven't worked consistently across the different ways we run our Django app. Specifically, APM does not work when we run Django with uwsgi,

[2019-07-02 14:15] #983 closed

[2019-07-04 01:09] sazlin commented on #986
I was able to workaround this issue for now by creating a child Django App of `TracerConfig` that overrides the `ready` method to first reload settings and then configure the global tracer. I then add the custom app to our `INSTALLED_APPS` instead of the original `TracerConfig` app.

[code]

Anyone see any downsides to this?

[2019-07-08 13:25] brettlangdon commented on #986
@sazlin sorry for the long delay responding here, most of us were out for long weekend due to the holiday.

I am sorry you are having issues getting Django setup, these configuration issues are things we've seen a few times in the past and 👍 for the level of details provided in your report, this is awesome.

From your example work around, I don't see anything in particular that stands out as a dow

[2019-07-09 16:00] galonsky commented on #460
@brettlangdon @jd I see this fix was merged. when will the new version of the package be published?

[2019-07-09 17:00] jd commented on #460
@galonsky It's on its way out. Should be a couple of days now I think.

[2019-07-16 02:32] mrmachine commented on #460
@jd @brettlangdon is this fixed by #941 which is included in the 0.27.0 release? Is the `DD_TRACER_PARTIAL_FLUSH_ENABLED` variable (or any other) still required to activate the new behaviour?

[2019-07-17 09:15] yevhen-m commented on #831
I have the same problem, there is a flaw in TracedClient (see <=== comments)
https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/contrib/pylibmc/client.py#L106
[code]
https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/contrib/pylibmc/client.py#L127
[code]
This issue is a blocker. Is anyone working on this?

[2019-07-17 10:00] jd commented on #460
@mrmachine Yes, #941 should fix this with 0.27.0 and you don't need to do anything. Just enjoy it! ;)

[2019-07-18 08:55] fmilhe14 opened #991 "dd-trace-py + grpc-opentracing-py compatibility"
Hello,

I am currently trying to work with grpc-opentracing (https://github.com/opentracing-contrib/python-grpc) and the datadog opentracing tracer (https://github.com/DataDog/dd-trace-py/tree/master/ddtrace/opentracer).

I am trying to develop a GRPC server. What I would like is to call the server without any trace (so the server will have to initialize a trace).

What is don't understand is the

[2019-07-18 10:19] jgb opened #992 "v0.27.0 destroys the performance of our app"
Hello,

when we upgraded from v0.26.0 to v0.27.0 the performance of our Django + Mariadb + elasticsearch application went down.
Requests via the web interface took 3 times as long, often causing gateway timeouts.
Reverting to v0.26.0 of ddtrace resolves the issue.

Any idea on what might be going on here?

Greetings,

Jan

[2019-07-18 11:45] jd commented on #992
Not from the top of my head. There were a few changes in 0.27.0 but it's hard to see which one would cause that. If there's any chance you can bisect which particular commit introduces this regression that would help a lot. Or even basic profiling of a request that took too long would give us a few hints.

[2019-07-18 14:11] brettlangdon commented on #992
@jgb can you send me an email from your work email, brett.langdon@datadoghq.com

I'd like to gather some more details from you, but they are specific to your organization so we probably don't want to discuss here :)

[2019-07-18 22:48] eedwards-sk commented on #786
This is affecting us as well as we're trying to move to gevent workers.

Will try the workaround.

[2019-07-18 22:51] eedwards-sk commented on #972
I've seen issues with ddtrace breaking semver before, so since what version did you start adhering to it?

[2019-07-19 00:16] eedwards-sk commented on #786
using workaround prevents the crash but produces this error in logs on startup (with `0.27.0`):

/root/.local/lib/python3.6/site-packages/gunicorn/workers/ggevent.py:65: MonkeyPatchWarning: Monkey-patching ssl after ssl has already been imported may lead to errors, including RecursionError on Python 3.6. It may also silently lead to incorrect behaviour on Python 3.7. Please monkey-patch earlier. S

[2019-07-19 13:35] sandys commented on #962
would like to add to this request. we are moving from celery to rq and would be very grateful for this integration.

[2019-07-22 09:27] benjaminrigaud commented on #992
Hello everybody :)

I reproduced the issue in local and it is most likely related to 0.27.0

The first difference is we get an error in 0.26.0:

[code]

I assume this big request is now being accepted in 0.27 and is causing the slow down.

Could be related to https://github.com/DataDog/dd-trace-py/commit/40c0eb8ee9a490b7c1cd304333ecffd60700ace2

Still digging :male_detective:

[2019-07-22 09:54] jd commented on #992
Yeah that's something we fixed in 0.27.0. I imagine that if the payload is now accepted with 0.27..0, your local agent might be doing more processing. Did you check its CPU usage, just in case?

[2019-07-22 10:26] benjaminrigaud commented on #992
It looks like the agent is doing fine (no observable CPU usage yet).
The client (a Django app) is using one core at 100% for the duration of the request (150 seconds in 0.27.0).

[2019-07-22 11:28] benjaminrigaud commented on #992
It looks like 0.27.0 is doing a lot in context.py (close_span & get)
![image](https://user-images.githubusercontent.com/1983087/61629003-0de0af00-ac84-11e9-80f1-6348fc981c78.png)

[2019-07-22 11:42] jd commented on #992
This could be due to 0252795bdfd1ee23c6fd0a6eb2e1a520f87c665c. Do you have the same profiling with 0.26.0?

[2019-07-22 11:45] benjaminrigaud commented on #992
@jd Can you give me your email?
I'll send you both .svg (and .prof if you need) files.

[2019-07-22 11:56] jd commented on #992
@benjaminrigaud `jd@datadoghq.com`

I've pushed a piece of code in #996 that might help if https://github.com/DataDog/dd-trace-py/commit/0252795bdfd1ee23c6fd0a6eb2e1a520f87c665c is the culprit. You might want to test it if you can.

[2019-07-22 12:14] benjaminrigaud commented on #992
I just tried it but the performance are similar (tracer.debug_logging is False).

Sending the prof / svg by email in a few minutes.

[2019-07-23 12:31] #992 closed

[2019-07-25 12:24] brettlangdon commented on #992
v0.27.1 has been released with #996 which resolves this issue.

[2019-07-26 09:07] juzna opened #1003 "Infinite loop with aiohttp and debug logging"
If I enable [tracing for aiohttp web app](http://pypi.datadoghq.com/trace/docs/web_integrations.html#aiohttp) and also [propagate trace ids to logs](https://docs.datadoghq.com/tracing/advanced/connect_logs_and_traces/?tab=python), I get an infinite loop at the app startup.

This only happens with debug log level. The reason is explained below.

The loop is as follows:
 1. `aiohttp.web.run_app` cre

[2019-07-26 21:24] brettlangdon commented on #831
@yevhen-m I just opened #1004 to address this. Sorry for the delay.

[2019-07-29 08:57] mgu opened #1005 "asyncio: copy context on asyncio.shield"
https://docs.python.org/3/library/asyncio-task.html#shielding-from-cancellation

If the asyncio.shield parameter is a coroutine, then it is automatically scheduled as a Task.
In this new Task, we are losing the previous context.

We should set a copy of the current context on the new task.

Here is the code I used to do some tests:
[code]

[2019-07-29 12:44] brettlangdon commented on #1005
@mgu we have https://github.com/DataDog/dd-trace-py/pull/990 open right now which should help solve of these problems by moving our `asyncio` context propagation to `contextvars`.

[2019-07-29 12:49] brettlangdon commented on #1003
@juzna thank you for reporting this and for a the reproduction case. We'll work on scheduling time for someone to dig into this.

[2019-07-30 10:16] mgu commented on #1005
I'm not sure it will fix this issue :)

[2019-07-30 11:54] brettlangdon commented on #1005
My thinking here is. Previously we were attaching the context to the task
directly and manually pass the context around.

Now with contextvars we sort of get that for free, we even get parent/child
task propagation as well since contextvars will clone it's context (sort
of) when starting a child task.

We still need to validate if `shield` works properly or not and we may
still need some tweaks to

[2019-07-30 12:50] mgu commented on #1005
ok, it makes sense, thanks

[2019-08-01 16:23] eedwards-sk commented on #451
We may need to re-open this for 0.26.0+ which is failing to auto-instrument celery tasks through `ddtrace-run` again.

[2019-08-01 16:50] eedwards-sk commented on #451
I confirmed it's patching celery with debug trace logs, but not tracing the tasks themselves.

[code]

[2019-08-01 16:52] eedwards-sk opened #1011 "celery 4.1 worker tasks aren't being traced with ddtrace-py 0.26.0"
This is a follow up to #451

It appears there is a regression, and autodiscovered tasks are no longer being traced again.

[2019-08-01 17:18] brettlangdon commented on #1011
@eedwards-sk thanks for reporting. we'll work on triaging and reproducing on our end.

are you still using `@shared_task` to register your tasks?

[2019-08-01 17:39] eedwards-sk commented on #1011
@brettlangdon hey brett, that's correct, we're using `@shared_task` and `app.autodiscover_tasks()`

[2019-08-05 15:52] #831 closed

[2019-08-05 17:20] Jastrzebowski opened #1012 "Double logging with dd-trace in Django under Gunicorn"
I keep getting double logs while running a Django application with JSON logs (using python-json-logger) running using Gunicorn. For each message, I'm getting an unformatted next to a JSONified one:

[code]

Only happens when I run the application using dd-trace, Config file is used to format gunicorn logs also as JSON:

[code]

The problem occurs both locally running a container using docker-compo

[2019-08-05 21:00] majorgreys commented on #1005
@mgu I attempted to reproduce the scenario you are addressing here:

https://gist.github.com/majorgreys/4e22cd39fa6cf817fd4

We should expect the non-shielded and shielded cases to both produce two spans with the correct parent-child relationships. The non-shielded case would differ in that the child span would have a duration ~1s, since the cancelled parent will also cancel the child. In the shie

[2019-08-08 00:12] JBKahn opened #1014 "Measuring Django management commands"
When I use `patch_all(django=True)` inside my management command it doesn't behave the same as the API.

For context, I have a management command that does this:
1. Calls `patch_all`
1. Gets a message off the queue from SQS
1. calls `tracer.context_provider.activate(context)` on the context container in the message
1. creates a span with some tags

What I'm finding, is that the ORM/cache instrumen

[2019-08-14 15:32] majorgreys opened #1018 "Missing gRPC status code"
Though the gRPC integration includes a constant for the status code, it is not being included in the tags set for client and server spans.

https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/contrib/grpc/constants.py#L11

[2019-08-14 15:40] nickpresta commented on #798
Is there an update on this? Is the current workaround to disable logging to suppress the errors and just deal with the fact that spans are being sent to a non-existent agent?

[2019-08-14 15:51] brettlangdon commented on #798
@nickpresta my apologies that we do not have an update here just yet.

However, if there is a bug with the Django `ENABLED` setting, this setting should be controlling `tracer.enabled`. You could do the following as a workaround.

[code]

This is where it is used to push traces into the writer: https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/tracer.py#L421-L436

I am not 100% sure here,

[2019-08-14 15:54] brettlangdon commented on #798
This is likely the place where the bug is: https://github.com/DataDog/dd-trace-py/blob/5f8594aff6e74470579608b1a2f57077522d9c2a/ddtrace/contrib/django/conf.py#L113-L121

[2019-08-14 19:34] ryanwilsonperkin opened #1021 "Django middleware not properly supported if left empty"
In Django 1.10 and above, `dd-trace-py` will attempt to check first if the user is using the `MIDDLEWARE` Django setting and will fallback to `MIDDLEWARE_CLASSES` if unset. In my application, I deliberately declare an empty list for the `MIDDLEWARE` setting to tell Django that I am not personally putting any middleware into the application. Unfortunately, `dd-trace-py` simply checks if the `settin

[2019-08-15 02:53] al-the-x commented on #798
Also suspicious:
https://github.com/DataDog/dd-trace-py/blob/5f8594aff6e74470579608b1a2f57077522d9c2a/ddtrace/contrib/django/apps.py#L35

Combined with above, the `ENABLED` setting is not lazily evaluated and may be cached on the `tracer` or `DatadogSettings.user_settings` or reset to the default after a successful test run, since `DEBUG is False` while tests are running.

[2019-08-19 12:45] mgu commented on #1005
The difference is that I don't use ddtrace-run.
I've tested with ddtrace-run and it works, so I'm now looking at what to change to make it work without ddtrace-run :)

[2019-08-19 12:55] brettlangdon commented on #1005
@mgu very interesting.

Can you share with us how you are enabling `ddtrace` patching in your application?

I assume just `ddtrace.patch_all(asyncio=True)`? But when does this happen in your application? We always suggest it being the first thing that runs so we have a chance to patch modules before they are imported (directly or indirectly).

[2019-08-19 13:24] mgu commented on #1005
the code looks like:

[code]

For a reason I don't understand, my spans have a parent when I use `patch_all` but it doesn't work with `patch`.
I've tried to move the `ddtrace.*` imports and `patch` at the top of the file with no success.

with patch_all, the initialization output is:
[code]

with patch:
[code]

[2019-08-19 13:34] mgu commented on #1005
ok, not sure it works like I told earlier, I'll do more tests

[2019-08-19 13:43] brettlangdon commented on #1005
`patch` will enable only the integrations you specify, `patch_all` patches everything but takes in overrides to any defaults.

This is what `patch_all` enables by default: https://github.com/DataDog/dd-trace-py/blob/6e4d64ca9c0f68f9e8c8b6dc14387518f2bcd69b/ddtrace/monkey.py#L21-L63

@majorgreys can you update your example to patch in a similar manner as @mgu, see if we can reproduce the same resul

[2019-08-19 15:38] #1021 closed

[2019-08-19 15:48] majorgreys commented on #1005
@mgu I've updated the gist to not use `ddtrace-run` and manually patch `asyncio`:

https://gist.github.com/majorgreys/4e22cd39fa6cf817fd4a137f1b76e894#file-issue-1005-py-L32

The spans in the shield case look to have the correct contexts shared between tasks:

[code]

https://gist.github.com/majorgreys/4e22cd39fa6cf817fd4a137f1b76e894#file-issue-1005-log-L73-L107

Perhaps this has to do with some

[2019-08-19 17:05] mgu commented on #1005
I also believe this is related to aiohttp/aiopg, I had no time today to dig further.
If I enable psycopg integration, aiopg spans don't have parent_id but psycopg spans do

(Yes, that's my use-case)

[2019-08-19 18:10] JBKahn opened #1030 "Vendored msgpack (and other libs) causing issues with installed libs"
Importing dtrace before importing msgpack causes issues with serializing custom types.

For example, if you run this code as is then it runs perfectly fine in a shell.
If you uncomment the import then it causes the error below.

The only dependancies to run this are msgpack and this library

[code]

uncomment that line to cause the error

[code]

[2019-08-19 18:24] brettlangdon commented on #1030
@JBKahn thanks for sharing, this is definitely weird. I would not have expected our vendored `msgpack` to cause any issues.

Just for context, the way we do vendoring of `msgpack`, we have modified the code so it is only available as `ddtrace.vendor.msgpack`, this even includes the built c-extension. We do this instead of other packages which will add hooks to the import system to override where a

[2019-08-19 18:26] JBKahn commented on #1030
I have tried a few of those:

1. It worked without it installed and without it imported.
2. It works with the pure python version.
3. I'll try that now.

[2019-08-19 18:28] brettlangdon commented on #1030
Interesting.

What version of `ddtrace` are you using?

With `0.28.0` we just started to ship Wheels to PyPI, makes me wonder if maybe there is an issue with the compiled c-extension in the wheels we shipped?

[2019-08-19 18:29] JBKahn commented on #1030
[code]

It seems to be whichever one it loads first works.
`msgpack_og.ExtType is msgpack_dd.ExtType` is likely the issue. The c code uses a check on the type and having both a vendored and non-vendored copy is likely somehow causing an issue.

[2019-08-19 18:30] brettlangdon commented on #1030
Great find! Thanks for checking on this. I'll schedule some time to triage/reproduce on our end and we'll dig into it!

[2019-08-19 18:31] JBKahn commented on #1030
I'm using `0.28.0` and just calling `ipython` to open a shell.

[2019-08-19 18:32] brettlangdon commented on #1030
👍 Thanks.

[2019-08-19 18:34] JBKahn commented on #1030
So here's a script you can use
[code]

uncomment that line to cause the error

[2019-08-19 22:39] JBKahn commented on #1030
Out of curiosity what did you need to change that you needed to vendor it as opposed to just relying on the normal version?

[2019-08-19 23:22] brettlangdon commented on #1030
Previously we just depended on `msgpack-python`, but then they deprecated that package in favor of just `msgpack` (just a naming change). However, we had some customers who weren't able to make the change to `msgpack` because we still depended on `msgpack-python`.

So, that was sort of the catalyst that got us thinking about how our dependencies should impact customers. We felt that vendoring spec

[2019-08-19 23:31] JBKahn commented on #1030
As long as you're willing to upgrade frequently or lock against major versions with a list of supported versions you've tested against it should be alright. Most libraries are good about not breaking things in minor versions. But vendoring is an option if you feel that strongly about it.

[2019-08-20 07:24] jd commented on #1030
Yeah, I tend to think the strategy of supporting wide ranges of libraries is a good enough strategy and avoid the pain of vendoring. It's a trade-off as you said anyway (i.e. you can't use the latest feature of `$lib` before a few years when you know everyone has it).

Though in the case of msgpack, the rename is more painful as it makes it hard to support both at the same time with only one depen

[2019-08-20 12:12] JBKahn commented on #1030
I tend to make go for the upgrade and cut a major dependency upgrade of my own lib (which is what I do in this case) and let my users go through the upgrade at their leisure. And if they are stuck on an older version of that lib, they are stuck in an older version of the library. That's been my philosophy.

[2019-08-22 18:32] majorgreys commented on #837
@ekhaydarov I am working on adding support for Tornado 6 to ddtrace. As @dkgramming highlighted, this depends on us replacing our use of `tornado.stack_context._state` to manage tracer contexts. If either of you wants to contribute insights or help, do drop me an email at tahir.butt@datadoghq.com or reach me at https://chat.datadoghq.com.

[2019-08-23 00:48] zhaoyi0113 opened #1032 "Get `execv: path should be string, bytes or os.PathLike, not NoneType` error when run it on MacOS"
I am using `python 3.7.2` with `uwsgi` and `ddtrace` but I got this error when launching the application:

[code]

The launch script is
[code]

The same setting works fine on `ubuntu` system but not on Mac. My Mac version is `10.14.6`.

[2019-08-23 13:36] brettlangdon commented on #139
Closing this ticket due to it's age, but we have work planned for re-working the Django integration and changes to the database tracing will be included.

[2019-08-23 13:36] #139 closed

[2019-08-23 13:42] #142 closed

[2019-08-23 13:49] brettlangdon commented on #150
We have recorded better PeeWee support as a feature request internally, and will plan work to make psycopg more configurable without using a Pin.

[2019-08-23 13:49] #150 closed

[2019-08-23 13:50] brettlangdon commented on #185
We still do not support couchbase at this time, but have recorded it as a feature request internally, closing this card for now.

[2019-08-23 13:50] #185 closed

[2019-08-23 13:52] brettlangdon commented on #197
The problem I see with tracing the `connect` method is that it is most likely going to occur outside the context of a normal trace, meaning it'll be hard to correlate the effects of `connect` on any given trace.

Closing this ticket for now due to it's age, please feel free to re-open if needed.

[2019-08-23 13:52] #197 closed

[2019-08-23 13:56] brettlangdon commented on #265
@Forever-Young we have since fixed this specific exception from being raised since version `0.24.0`

I am going to close this card for now, if you still are experiencing issues please feel free to re-open the card.

[2019-08-23 13:56] #265 closed

[2019-08-23 14:30] brettlangdon commented on #512
I am going to close this card for now since it seems the original issue has been resolved, but it appears there are a few other semi-related issues being tracked here.

@mrmachine and @eedwards-sk if you are still experiencing issues would you be willing to open new issues so we can keep better track of them?

[2019-08-23 14:30] #512 closed

[2019-08-23 14:32] xarg commented on #351
Thanks for the clear answer :)

[2019-08-26 07:33] jd commented on #1032
I suspect `ddtrace-run` is not finding `uwsgi`. Is `uwsgi` accessible from your `PATH` env var and from your shell?

[2019-08-26 09:52] zhaoyi0113 commented on #1032
I am able to find `ddtrace-run` on PATH:
[code]

[2019-08-26 10:29] Jastrzebowski commented on #1012
I've set up a quick example showing double logging: https://github.com/Jastrzebowski/ddlog

[2019-08-26 11:28] jd commented on #1032
That I knew since it's the one printing the error. Is the same true for `uwsgi`?

[2019-08-26 19:05] majorgreys opened #1033 "Testing"

[2019-08-26 19:08] #1033 closed, assigned to nobody

[2019-08-29 04:41] zhaoyi0113 commented on #1032
I think it is something wrong with uwsgi not ddtrace, thanks. Close it.

[2019-08-29 04:41] #1032 closed

[2019-08-30 11:33] #1014 closed

[2019-08-30 12:26] JBKahn commented on #1030
We don't know exactly how it happens, we could reproduce it but it was only in Django. Patching botocore would override the timezone setting and caused strange behaviour. We ended up using an env var to set the value instead of Django's setting alone and that seemed to fix the issue. So not a vendored lib issue that time.

Speaking of which, have you had a chance to look into this yet @brettlangdo

[2019-08-30 14:30] brettlangdon commented on #1030
@JBKahn sorry, no I have not had a chance to dig into this this week, been bogged down with some other things :(

I am really glad that you may have found a work around, but lets not call this good, we should still be 100% our vendored packages are having any effects on anyone's applications.

[2019-08-30 14:50] egeromin opened #1039 "GRPC patching incorrectly handles arbitrary exceptions"
Bug found on

- python3.7
- dd-trace-py==0.28.0
- grpcio==1.23.0

GRPC patching incorrectly handles arbitrary exceptions. If for whatever reason the GRPC call raises any error other than an `grpc.RpcError`, then this exception is handled incorrectly by the patching code. This is because the method `ddtrace.contrib.grpc.client_interceptor._handle_response_or_error` expects the exception to have `.c

[2019-08-30 19:24] JBKahn commented on #1030
Agreed, keep us posted if you have the time to look into it next week!

[2019-09-02 18:54] mattbennett opened #1041 "Failed to send traces, BrokenPipeError (0.27.1)"
We're seeing a lot of message like this from various pods in our kubernetes cluster:

[code]

It happens 1-10 times an hour across our four agents.

The agent runs on the node as a daemonset, configured as follows:

[code]

We have been experiencing these issues for a while and recently upgraded `ddtrace` to 0.27.1 in the hope that https://github.com/DataDog/dd-trace-py/pull/941 would fix it, but

[2019-09-03 19:37] brettlangdon commented on #285
hey @thehesiod, I will close this issue for now since we have #294 to track this work.

[2019-09-03 19:37] #285 closed

[2019-09-03 19:40] brettlangdon commented on #357
Closing this issue for now, @ncherro please feel free to re-open if you are still experiencing this issue.

[2019-09-03 19:40] #357 closed

[2019-09-03 19:42] brettlangdon commented on #399
@thehesiod in the most recent version of the agent (6.13+) we actually no longer drop spans that are missing a service name, we will however group them under a default `unnamed-<language>-service` service name instead.

As well, we have done some work on `asyncio`/`contextvars` support in `ddtrace==0.28.0` for Python 3.7, while this probably does not fully resolve this issue it might be worth tryi

[2019-09-03 19:48] brettlangdon commented on #414
@thehesiod I know this issue has been open for a while, are you still having trouble here?

[2019-09-03 19:49] brettlangdon commented on #520
@alxch- closing this issue for now, if this is still a problem, please let me know.

[2019-09-03 19:49] #520 closed

[2019-09-03 19:52] brettlangdon commented on #532
@thehesiod I have marked this as a feature request and changed the title to "Add ability to trace across sub-processes".

Please let me know if the title change does not fully capture what you are trying to do.

Also, if you have more information on how you are doing this today, I would be curious to know.

[2019-09-03 19:54] brettlangdon commented on #543
@GeyseR the issue of large trace payloads should be resolved as of `0.27.0`.

I am going to close this issue for now, please feel free to re-open if you are still having issues.

[2019-09-03 19:54] #543 closed

[2019-09-03 19:55] brettlangdon commented on #547
hey @goodspark I think this does make sense, but I am going to close this issue for now, however if you would be willing to open new issues for each integration you'd like to see a change in, we can track the progress/requests better.

[2019-09-03 19:55] #547 closed

[2019-09-03 19:58] brettlangdon commented on #557
@makmanalp this is actually supported since version `0.19.0` but it is disabled by default (since it is really easy to generate a **ton** of spans from fetching).

To enable you can do it via code:

[code]

Or via the environment variable `DD_DBAPI2_TRACE_FETCH_METHODS=true`.

Closing this issue for now, please feel free to re-open if this does not resolve your issue.

[2019-09-03 19:58] #557 closed

[2019-09-03 20:00] eedwards-sk commented on #547
@brettlangdon that is a very confusing reason to "close" this issue. Where is the replacement issue that we can track this in? Are you really suggesting we open individual issues for each integration, even though this very issue is complaining of having to configure specific integrations? As I said earlier, and is still true today, I've continued to be frustrated with DD APM for this reason, we ca

[2019-09-03 20:01] brettlangdon commented on #603
Closing this issue for now because of the silence, but @stevepeak if you are still having this problem, please let us know and we'd love to how you are retrying the tasks so we can reproduce and resolve on our end.

[2019-09-03 20:01] #603 closed

[2019-09-03 20:06] brettlangdon commented on #763
This issue has been resolved by #764.

@mcuelenaere if you are still having issues, please let us know and re-open this issue.

[2019-09-03 20:06] #763 closed

[2019-09-03 20:07] brettlangdon commented on #770
Closing this issue for now, @Maximilien-R please feel free to re-open if you are still experiencing the problem.

[2019-09-03 20:07] #770 closed

[2019-09-03 20:07] thehesiod commented on #414
this isn't trouble, it just a feature request, like being able mark traces as "warning", instead of normal or error.  No biggie.

[2019-09-03 20:13] brettlangdon commented on #547
@eedwards-sk sorry for any frustration with this issue, the reason I suggested individual issues is because we have addressed this problem for some integrations already, and so would like to be able to triage and track them separately.

[2019-09-03 20:14] thehesiod commented on #532
sure, this is how we currently do it:

[code]

if you can serialize stuff across calls you can use:
[code]

otherwise use the env method.  And then to de-serialize:
[code]
[code]

[2019-09-03 20:16] brettlangdon commented on #797
@peter-featherstone are you still experiencing this issue?

Calling `ddtrace.patch()`, should be raising an exception, but `ddtrace.patch_all()` will swallow them and log instead.

[2019-09-03 20:19] brettlangdon commented on #532
Thanks! We'll look into this a little further, maybe there is something our library could be doing with sub-processes by default to make this experience better overall anyways.

[2019-09-03 20:19] brettlangdon commented on #825
@defanator I am going to close this issue for now, please feel free to re-open if you are still having issues here.

[2019-09-03 20:19] #825 closed

[2019-09-03 20:20] brettlangdon commented on #827
@jpcope were you able to try upgrading the tracer version, has your issue been resolved?

I am going to close this issue for now due to age, please feel free to re-open it if you are still having trouble.

[2019-09-03 20:20] #827 closed

[2019-09-03 20:26] brettlangdon commented on #898
@mrmachine for the issue for the payloads being too large (413 errors) should be resolved by #941 and released in version `0.27.0`, have you had a chance to try that version out for that specific error?

I assume regardless of the 413 errors you are still having issues with broken pipes?

[2019-09-03 20:29] eedwards-sk commented on #547
@brettlangdon so what is the correct unified way of setting the prefix for every service that gets auto-instrumented by `ddtrace-run` so I can start testing it and open issues on services that aren't working?

[2019-09-03 20:30] brettlangdon commented on #912
@aonamrata the main problem with adding request URL as the resource name is the cardinality issues, e.g. `GET /users/123` and `GET /users/456`. It is better to keep these grouped together under a common resource, like `GET /users/:id`.

We can look into how we can handle this better in Tornado.

As well, if you enable trace search and analytics you'll be able to search on the url metadata and crea

[2019-09-03 20:33] brettlangdon commented on #547
There currently is no way to set a service name prefix.

This original issue was referring to breaking out resource names based on db, url, AWS API call, etc. For some integrations we have added a way to "split" the resource name based on this information, but not the service name.

[2019-09-03 20:50] eedwards-sk commented on #547
That's not what the original issue was for. Maybe you're thinking of the [follow-up comment they added](https://github.com/DataDog/dd-trace-py/issues/547#issuecomment-462074146)?

The [original issue](https://github.com/DataDog/dd-trace-py/issues/547#issue-355345419) is about being able to configure "for services foo, bar, baz, register them as my-prefix-foo, my-prefix-bar, my-prefix-baz"

My [abo

[2019-09-03 20:57] brettlangdon opened #1044 "Add ability to set service name prefix"
It would be nice to have the ability to set a global service name prefix that gets applied to all services.

This was originally suggested in comments for #547
https://github.com/DataDog/dd-trace-py/issues/547#issue-355345419
https://github.com/DataDog/dd-trace-py/issues/547#issuecomment-444219035

cc @goodspark and @eedwards-sk

[2019-09-03 20:58] brettlangdon commented on #547
You are correct, I did mostly focus on the last comment of this issue.

We are in the process of doing some much needed issue grooming and I was maybe a little too hasty with closing this issue.

I have opened #1044 to specifically track the feature request to add a service name prefix.

[2019-09-03 20:58] eedwards-sk commented on #1044
Thanks @brettlangdon <3

[2019-09-04 07:05] aonamrata commented on #912
hmm, ok let me try adding Environment Variable: DD_TRACE_ANALYTICS_ENABLED=true
Thanks.

[2019-09-04 07:05] #912 closed

[2019-09-05 16:36] eedwards-sk commented on #1011
We're still without tracing for celery tasks, and now facing diagnostic issues that we cannot surface due to lack of traces.

[2019-09-06 13:50] jeremy-lq commented on #1041
@mattbennett We'll need quite a bit of additional information here, so let's move to a ticket. Can you open a ticket with:

* libraries/versions being used in the app
* [Python tracer in debug mode](https://docs.datadoghq.com/tracing/troubleshooting/?tab=python#tracer-debug-mode)
* [A flare](https://docs.datadoghq.com/agent/troubleshooting/send_a_flare/?tab=agentv6#pagetitle)

[2019-09-06 13:50] #1041 closed

[2019-09-06 13:58] majorgreys commented on #719
We will update our documentation so as to reflect the state of the `httplib` integration. I'll close this issue due its age. Feel free to re-open if you see this as an unresolved feature we should add to the integration.

[2019-09-06 13:58] #719 closed

[2019-09-06 14:06] majorgreys commented on #793
Closing since we have a support ticket tracking this already.

[2019-09-06 14:06] #793 closed

[2019-09-06 15:27] jpcope commented on #827
Thank you, issue is definitely resolved:  https://github.com/jpcope/srft/pull/1

I hope a test exists such that we do not get a regression in the future :-)

[2019-09-09 15:50] majorgreys commented on #1039
I pulled together a gist for reproducing this issue.

https://gist.github.com/majorgreys/758afd2d0bda717997a30ea0f4de314b

I was able to confirm what you reported for 0.28.0 and 0.29.0.

I started a branch and PR for resolving this:

https://github.com/DataDog/dd-trace-py/pull/1050

When using the branch, the soft time limit is caught as expected and the trace included this information:

![image](

[2019-09-10 13:28] egeromin commented on #1039
@majorgreys I can confirm this resolves the issue. Thanks for fixing!

[2019-09-10 13:28] #1039 closed

[2019-09-11 09:08] skaji opened #1052 "Request: set uds_path via an environment variable"
dd-trace-py supports unix domain socket connection https://github.com/DataDog/dd-trace-py/pull/975.

It would be nice dd-trace-py allows us to set uds_path via an environment variable,
say `DATADOG_TRACE_UDS_PATH=/path/to/apm.socket`.

[2019-09-13 07:40] pbasista opened #1056 "Consider creating a changelog"
Consider creating a changelog so that it would be possible to easily determine what are the most important changes made between the released versions.

[2019-09-13 07:48] jd commented on #1056
We could set up https://pypi.org/project/reno/

[2019-09-13 08:52] brettlangdon commented on #1056
We do create release notes in https://github.com/DataDog/dd-trace-py/releases but adding a changelog to the repo could also help people find that information easier.

[2019-09-13 09:20] jd commented on #1056
It's also that using something like reno makes sure notes are part of the commits.

[2019-09-14 05:47] goodspark commented on #1044
Thanks for opening this, but I think this is slightly different from my last comment (https://github.com/DataDog/dd-trace-py/issues/547#issuecomment-462074146).

I'd still like some way to have a better break out of service names based on actual resource URLs. Or _something_ more specific than just "postgres" or "memcached". Imagine how in 'prod' I might have 50 different services, lets say 10 of

[2019-09-14 11:33] brettlangdon opened #1059 "Add ability to automatically break out service names based on integration"
Description/comment taken from @goodspark on #1044
<hr/>

Thanks for opening this, but I think this is slightly different from my last comment (https://github.com/DataDog/dd-trace-py/issues/547#issuecomment-462074146).

I'd still like some way to have a better break out of service names based on actual resource URLs. Or _something_ more specific than just "postgres" or "memcached". Imagine how in

[2019-09-14 11:34] brettlangdon commented on #1044
@goodspark this is actually a really great and clear explanation of the problem you are having, since it is still a little different from service name prefixes, I opened #1059 with a copy/paste of your above comment.

Please let me know if the issue title should be different, tried to make it generic enough to cover the broad issue rather than focus just on databases.

[2019-09-16 20:15] goodspark opened #1061 "USER_REJECT'ed traces are still appearing in APM"
Python 3.7
ddtrace 0.29.0
DD agent 6.18.0
pyramid 1.10.4

1. Setup a simple pyramid service with an endpoint that is USER_REJECT'ed
2. Point it to a DD agent
3. Hit said endpoint

Expect: The endpoint to not appear at all in APM
Actual: It does. The only difference seems to be that individual traces are removed. But requests against the endpoint still impact service-level metrics.

I'm following t

[2019-09-19 15:35] abandali commented on #837
Now that https://github.com/DataDog/dd-trace-py/pull/1034 is merged, i think this issue can be closed?

[2019-09-19 15:46] majorgreys commented on #837
I will go ahead and close this though the support is limited to Python 3.7. Extending this work to Python 3.6 is planned. @ekhaydarov, if Python 3.7 is not an option for your team, please re-open this issue and we can continue discussions here for 3.6 support.

[2019-09-19 15:46] #837 closed

[2019-09-19 16:35] ekhaydarov commented on #837
thanks team. I think it will be less hassle for everyone involved if we just migrate to 3.7 in the near future.

[2019-09-19 19:36] majorgreys commented on #1005
I revised the script above to check whether there is some interaction with `aiopg` (also included `psycopg` patching):

https://gist.github.com/majorgreys/4e22cd39fa6cf817fd4a137f1b76e894#file-issue-1005-aiopg-py

However, it looks like the shield is working when the parent is cancelled:

https://gist.github.com/majorgreys/4e22cd39fa6cf817fd4a137f1b76e894#file-issue-1005-aiopg-log-L245-L261

Where

[2019-09-19 19:36] #1005 closed

[2019-09-19 20:40] #1018 closed

[2019-09-23 13:30] alesveselka commented on #1003
Hi, any news regarding this issue? I'd really like this to be fixed!

[2019-09-25 21:41] JBKahn opened #1075 "Memory usage with disabled tracer"
The disabled tracer is using up a lot of memory for code that uses `tracer.trace` and `tracer.wrap` is there a reason why the tracer/wrap code isn't just a no-op when it's disabled.
e.g. https://github.com/DataDog/dd-trace-py/pull/1074

[2019-09-27 12:27] sburns commented on #962
Hi everyone, wanted to share something we've come up with around tracing RQ jobs...

[code]

Then you should configure RQ to use this custom Job class.

This isn't perfect, however. We're noticing a small portion of spans come through. What I think is happening is that because RQ uses a forking model in which the code above runs in the "horse" process (their words, not mine :) that exits quickly a

[2019-09-27 13:02] brettlangdon commented on #962
hey @sburns great find, and yeah from the sounds of it, I'd guess that is the issue as well (we have the same problem with Resque for Ruby).

You can force a flush with the following:

[code]

[2019-09-27 13:08] sburns commented on #962
funny, because the design of RQ greatly inherits from resque :)

[2019-09-27 13:37] majorgreys commented on #324
We are currently working on a rewrite of the Django integration that will address this issue. Updates to come!

[2019-09-27 13:38] majorgreys commented on #598
We are currently working on a rewrite of the Django integration that will address this issue. Updates to come!

[2019-09-27 13:41] hockeybuggy commented on #324
@majorgreys :airhorn: :airhorn: :airhorn:

Great news and good luck!

[2019-09-27 13:46] majorgreys commented on #651
#294 has begun work on this. We will update this issue once it is merged.

[2019-09-27 14:20] majorgreys commented on #662
We can address this by enabling patching on import for more of our integrations, particularly those that have `urllib3` as a dependency. Once that's completed, this workaround will not be necessary.

[2019-09-27 14:25] majorgreys commented on #888
We are currently working on a rewrite of the Django integration that should address this issue. Updates to come!

[2019-09-27 14:27] majorgreys commented on #867
@mlennon-lumere I'll go ahead and close this issue but if you still need help on this please re-open the issue.

[2019-09-27 14:27] #867 closed

[2019-09-27 14:41] sburns commented on #962
On 0.29.0, what should happen after the `tracer.trace` context block should be:

[code]

[2019-09-27 14:45] brettlangdon commented on #962
@sburns you are right, sorry, I was looking at `master` and thought those changes were already released.

Please be sure upon upgrading to `0.30.0` what I posted should work.

[2019-09-27 22:08] kestein opened #1076 "Aiopg patch doesn't work with aiopg 1.0.0"
As of aiopg 1.0.0 there is no longer an [aiopg.connection._connect function](https://github.com/aio-libs/aiopg/blob/v1.0.0/aiopg/connection.py). The current release of ddtrace [patches this function](https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/contrib/aiopg/patch.py#L22) and will no longer work.

[2019-09-30 16:58] benhoyt commented on #778
@viperfx @brettlangdon I'm having this same issue too -- any ideas?

[2019-10-01 07:42] jd commented on #778
@benhoyt Can you provide more context, such as the `requests` version?

[2019-10-01 12:17] benhoyt commented on #778
@jd Thanks, and sure. Here's a standalone script that reproduces this issue, including version numbers:

[code]

When you run it, here's what you get:

[code]

So I don't know whether a patch call is required, or if I'm doing something else wrong. The [docs](http://pypi.datadoghq.com/trace/docs/other_integrations.html#requests) imply that you can use `TracedSession` instead of the patch call to ge

[2019-10-01 13:34] jd opened #1079 "Exception raised with sizeof of some spans"
With `master`:

[code]

Might be an issue where the attribute is declared in `__slots__` but not set.

[2019-10-01 13:38] brettlangdon commented on #1079
This is weird, the only two classes that have a `rate_limit` are `ddtrace.internal.rate_limiter.RateLimiter` and `ddtrace.internal.logger.DDLogger`

however, in both cases it should have been initialized.

[2019-10-01 13:39] brettlangdon commented on #1079
I mean, the `__init__` of both of those classes set `self.rate_limit`

[2019-10-01 13:47] jd commented on #1079
`DatadogSampler` has a slot with `rate_limit` but never sets it I think:
https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/sampler.py#L116

[2019-10-01 14:27] #1079 closed

[2019-10-03 17:34] jeremyahuang commented on #778
I think you are getting this error because the the TracedSession doesn't get it's PIN (patch info) unless `patch` is called. `ddtrace.config.get_from(session)` fails to find the config (because the PIN is missing), but returns a fresh dictionary instead of failing.

Then when the session again uses `ddtrace.config.get_from` to get the config, it again returns a fresh, empty dictionary, causing the

[2019-10-09 11:56] #1052 closed

[2019-10-09 13:09] raags opened #1088 "How do I set the the service_name globally"
There was a call called `set_service_info`, but its deprecated: https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/tracer.py#L508

I can set it on `trace()`, but is there a way to set this globally?

[2019-10-09 13:43] majorgreys commented on #1088
If you are using `ddtrace-run`, you can override the default service name with the `DATADOG_SERVICE_NAME` environment variable:

http://pypi.datadoghq.com/trace/docs/advanced_usage.html#ddtracerun

Otherwise, you can do so when you start a root span for the program with the `service` keyword argument for `Tracer.trace()`, `Tracer.start_span()`, or the decorator `ddtrace.trace.wrap()`.

[2019-10-09 13:43] #1088 closed

[2019-10-11 02:47] yury-primer opened #1090 "ddtrace-run import requests before gevent can patch it"
`ddtrace-run` imports `elasticsearch` which imports the `requests` module before gevent can patch it. This is essentially the same problem as #506. It appears to be a regression.

A simple way to reproduce is to run `ddtrace-run python -c 'import sys; print("requests" in sys.modules)'`.

I am using `ddtrace==0.29.0`.

[2019-10-11 09:20] manuher opened #1091 "app_key not passed to aiohttp_jinja2"
When using aiohttp_admin the app_key value for the templating module differs from the default one.

This causes an error executing:
https://github.com/DataDog/dd-trace-py/blob/ec191a4a71ae71017b70d26111bba4489e617ae5/ddtrace/contrib/aiohttp/template.py#L21

As far as I understand this would solve the problem.
`env = aiohttp_jinja2.get_env(request.app, app_key=kwargs["app_key"])`

[2019-10-12 17:39] Kyle-Verhoog commented on #927
Hey @luozhaoyu!

Thanks for reporting this, we addressed this issue in #1083 and it got shipped in [v0.30.0](https://github.com/DataDog/dd-trace-py/releases/tag/v0.30.0).

Let us know if you have any further issues 😄

[2019-10-12 17:39] #927 closed

[2019-10-16 20:02] Kyle-Verhoog commented on #962
@sburns you can set the "resource" of an span in your tracing line like this:

[code]

can then you should see the different jobs listed in that view.

And by the way, we have an `rq` integration in the works coming very soon 😄

[2019-10-16 20:42] rousell commented on #962
We were able to get this to work by doing something along the lines of:
`with tracer.trace("service_name", service=JOB_SERVICE_NAME, resource.self.func_name)`
which then put all of the operations for the service under the same "service_name", and which allowed us to see a list of the resource on the main dashboard for our service. This page in the documentation helped particularly: https://docs.da

[2019-10-18 01:43] Kyle-Verhoog commented on #1011
Hi @eedwards-sk,

Sorry for the delay on this.

I tried to reproduce with this really small app here: https://github.com/DataDog/trace-examples/pull/79/files

[code]

this example reports traces without any issue.

Do you have the same symptoms from #451? Specifically the one where the patching for celery is failing? ie when run with the environment variable `DATADOG_TRACE_DEBUG=true`, you don't s

[2019-10-18 01:56] eedwards-sk commented on #1011
Hi @Kyle-Verhoog

As per #451, both the original issue I reported, and my most recent [comment](https://github.com/DataDog/dd-trace-py/issues/451#issuecomment-517369760) (from right before I opened this issue) confirmed that celery was present in the list of patched modules.

The issue seems to be that autodiscovered tasks are not being instrumented.

[2019-10-18 02:15] Kyle-Verhoog commented on #1011
Ah darn I read just about all of the #451 thread except for the last comment! Sorry about that.

Hmm. Very strange as the celery integration works via celery signals (should be task independent) and the celery integration hasn't been touched functionality-wise since v0.20.1.

Maybe it's some interference from Django. I'll try looking through our changelog for anything noticeable around v0.26. Is t

[2019-10-18 02:24] eedwards-sk commented on #1011
@Kyle-Verhoog

We have one project that was working on `ddtrace==0.18.0` and then we bumped it to `0.26.0`.

We have another almost identical django/celery project that we started on `0.26.0` so it also isn't working (for autodiscovered celery tasks).

[2019-10-18 02:43] Kyle-Verhoog commented on #1011
@eedwards-sk gotcha, thanks for the context & quick replies. The version info should help narrow down the search 🙂.

I forgot to ask earlier, how are you running your celery workers? (Is it still the same as https://gist.github.com/eedwards-sk/f924548c043859901db6918aec95dada?)

I have a suspicion that Django might be interfering somehow. What Django version(s) are you running and with which wsgi

[2019-10-18 02:57] eedwards-sk commented on #1011
@Kyle-Verhoog

Here's basically what it's running with:

[code]

for packages, we're not running the celery workers using a wsgi server, so I'm not sure if these versions matter, but in case...

[code]

I can confirm the service (`spice-worker`) does occasionally show up for a non-autodiscovered task, just like when we had this symptom before.

e.g. this address should work if you can impersonate

[2019-10-18 03:09] Kyle-Verhoog commented on #1011
@eedwards-sk perfect!

Thanks for your patience as well as the quick, detailed and concise responses. We'll dig into this further with all the info you've provided and get back to you as soon as possible with our findings 😄.

[2019-10-18 15:34] JBKahn opened #1102 "Django API APM traces disappeared after upgrade from 0.29.0 to 0.30.0"
In talking with @brettlangdon we couldn't find a quick solution, but downgrading the library version brought them back. Interestingly enough, even the custom traces we were using within the API disappeared but all the ones that exist outside of Django i.e. workers, are all fine on version 0.30.0

[2019-10-18 19:57] awiddersheim commented on #1102
I had similar issues going from `0.27.1` to `0.30.1`. Reported to DD support VIA chat and downgraded to fix.

[2019-10-18 19:59] brettlangdon commented on #1102
@awiddersheim would you be able to confirm that `0.29.0` works fine for you?

Want to try and isolate to only changes between `0.29.0` and `0.30.0`

[2019-10-18 20:00] emosesPatreon commented on #1030
I have just run into this as well when attempting to upgrade `ddtrace` to 0.30.1, would love to see a resolution for this.  Thanks.

[2019-10-18 20:58] JBKahn commented on #1102
@awiddersheim @brettlangdon upon investigation with @majorgreys , if I shell into a running container and run a local `python manage.py runserver` call, and use `curl` then it does end up in the APM data. Currently I suspect it might be something to do with threads, nginx, uwsgi as those are the only other "things" that are happening that should be different other than running it via `runserver`.

[2019-10-18 20:59] JBKahn commented on #1102
@awiddersheim are you using uwsgi? Is it threaded? How many?

[2019-10-18 21:31] shshe commented on #1102
We've experienced this as well when upgrading from 0.29 to 0.30.1 on our gunicorn + django app and celery workers. We've downgraded to 0.29 and APM traces have been restored.

[2019-10-18 21:46] awiddersheim commented on #1102
We are using `gunicorn` with `sync` workers.

[2019-10-18 23:11] bryanculbertson commented on #1102
I am using `gunicorn` with `sync` workers for a `flask` app and I stopped getting traces in `0.30.1` and do get traces in `0.29.0`.

I was still getting logs with `0.30.1` and have multiple `WARNING` level logs:
[code]
from `/usr/local/lib/python3.7/site-packages/ddtrace/internal/writer.py` line `228` in funcName `put`.

[2019-10-19 00:13] JBKahn commented on #1102
I had the same, I tried increasing the max size to see if that fixed it, but it did not.

[2019-10-20 23:33] zhaoyi0113 commented on #1102
Based on this PR: https://github.com/DataDog/dd-trace-py/pull/1094, it says `send statistics less often and disable by default`. It seems this feature is disabled by default. I wonder how I can enable it?

[2019-10-20 23:52] JBKahn commented on #1102
Unfortunately that was in `0.30.1` so it landed after the breakage, at least for us.

[2019-10-21 03:06] zhaoyi0113 opened #1103 "Flask APM trace is disabled with 0.30.1"
After upgrade to ddtrace 0.30.1, all APM trace disappeared from Datadog. I see this PR https://github.com/DataDog/dd-trace-py/pull/1094 is part of the release. Does it have anything to do with disabling statistics by default? If yes, how can I enable it?

[2019-10-21 13:27] brettlangdon commented on #1103
@zhaoyi0113 I am sorry you are experiencing problems, this seems related to #1102

I will keep this issue open for now until we determine that the issue here and for Django are actually the same.

[2019-10-21 15:00] cyface commented on #1102
We are also having this issue with 0.30.1.

[2019-10-21 19:30] #1102 closed

[2019-10-21 19:35] brettlangdon commented on #1103
This should be resolved by #1106 and will be released as a 0.30.2 bug fix.

[2019-10-21 19:39] aleyan commented on #1102
Thank you for figuring this out. Will there be a point release for this fix?

[2019-10-21 19:43] brettlangdon commented on #1102
Yes, we are working on getting 0.30.2 out for this very quickly

[2019-10-21 19:48] brettlangdon commented on #1102
If anyone wants to try this out ahead of time:

`pip install git+https://github.com/datadog/dd-trace-py@d827a04896469f65511f364e1c017fb0972d63a3#egg=ddtrace`

[2019-10-21 20:28] brettlangdon commented on #1102
`v0.30.2` has been released to PyPI which should resolve this issue. Please reopen this issue if it does not.

[2019-10-21 20:28] brettlangdon commented on #1103
`v0.30.2` has been released to PyPI which should resolve this issue. Please reopen this issue if it does not.

[2019-10-21 20:28] #1103 closed

[2019-10-22 20:51] yamaszone commented on #1011
Any update on this? We need a fix for this urgently.

[2019-10-22 20:56] Kyle-Verhoog commented on #1011
@shuvozula thanks for the report. The evidence does appear to be pointing towards Django. Are you also using shared tasks?

@yamaszone I have it on my todo list for this week. Are you also using Django (and celery shared tasks)?

[2019-10-22 21:58] shuvozula commented on #1011
yes @Kyle-Verhoog , we are using shared tasks for Celery functions

[2019-10-23 09:50] zhaoyi0113 opened #1108 "How to set service name in the code?"
I have a regular python application without any framework. I'd like to know how I can set the service name for that. I have read this code: https://github.com/DataDog/dd-trace-py/blob/0dd8771be86348c2f538c46192d67bccd3385afd/ddtrace/commands/ddtrace_run.py#L32. And it says that for a non-web app, set the service name in the code. I wonder how I can do that? Is there an API I can set the service na

[2019-10-23 14:14] brettlangdon commented on #1108
There is no way at this time to configure a default service name if a span is started without one.

I assume you are doing custom instrumentation, e.g.:

[code]

If so, all you need to do is:

[code]

You only need to set the service name on the top level operation name for your service, all child spans created without a service name will inherit it's service from it's parent.

[2019-10-23 14:24] mislavcimpersak opened #1110 "ddtrace not sending traces to datadog-agent for Django app in AWS EKS"
I'm trying to get APM tracing working for a Django app deyployed in AWS EKS.

- gunicorn==19.9.0
- Django==2.2.6
- django-configurations==2.1
- django-environ==0.4.5
- ddtrace==0.30.1

I've set up datadog agent as _DaemonSet_ following
https://docs.datadoghq.com/agent/kubernetes/daemonset_setup/?tab=k8sfile

I have a Django app running via Gunicorn. In kube config for it I'm setting env var `DD_AG

[2019-10-23 14:26] brettlangdon commented on #1110
(but also, thanks for the detailed information in this issue!!!!)

[2019-10-23 15:07] mislavcimpersak commented on #1110
The suggestion to upgrade to 0.30.2 appeared as a shining light at the end of a long tunnel, but alas, it was a mirage 😞

----

I' ve updated ddtrace to 0.30.2 and just to be sure deleted and re-created my datadog daemonset. Still no traces in datadog :-/

Also, tried a downgrade to 0.29.0. Still 0️⃣

[2019-10-23 15:17] brettlangdon commented on #1110
@mislavcimpersak can you send me an email at brett.langdon@datadoghq.com ?

(or can find me on our public Slack https://chat.datadoghq.com/ @ brettlangdon)

I'd like to dig into your account a bit to help try and debug this.

[2019-10-23 21:01] shuvozula commented on #1011
Hi @Kyle-Verhoog, @yamaszone and myself are from the same team, so we're referring to the same issue

[2019-10-23 22:30] Kyle-Verhoog commented on #1011
@eedwards-sk @shuvozula finally got a chance to do some digging.

There haven't been changes to either the celery or the django integration that would seem to cause this from what I can tell.

However, my bet right now is that the changes to the writer (introduced in **`v0.26`**) broke our handling of forking (which I believe celery workers do to run the task). This bug was uncovered just recently

[2019-10-23 22:52] zhaoyi0113 commented on #1108
Thanks for your comments. It makes sense to me. I have tried that the root service name works fine but some nested request doesn't work well.

[code]
The above is my python code. I can see my service name appears on datadog APM service page. However I see there is a `Elasticsearch` appears on the same level as my service. I did try to override the elasticsearch instance with my service name. But i

[2019-10-23 23:08] shuvozula commented on #1011
Hi @Kyle-Verhoog, actually didn't have any luck with `v0.30.2` either. I was watching [1102](https://github.com/DataDog/dd-trace-py/issues/1102) and within the hour `v0.30.2` was released, I tested it but the celery-spans never showed up.

[2019-10-23 23:31] Kyle-Verhoog commented on #1011
@shuvozula hmmm. Based off of the info you've sent us through support it looks like you're getting the first part of the distributed celery trace reported correctly but not the receiving part from the worker. Does your container which you're running celery workers have access to a Datadog agent?

[2019-10-24 00:22] eedwards-sk commented on #1011
Lol, GitHub closed this issue automatically when I referenced it from an internal PR.

Re-Opened.

I've bumped to `0.30.2` and I'll check tomorrow to see if we get the expected traces.

[2019-10-24 09:38] ottonello commented on #897
Just to add a use case here, we have a Django app which calls a postgres db 'defaultdb', and a Flask app which calls it 'postgres'. It'd be really handy to have everything under the same service.

[2019-10-24 11:03] adriandavidsmith commented on #1012
@Jastrzebowski Any update or comms on this issue from the DD team?

[2019-10-24 12:18] brettlangdon commented on #1108
I believe you need to do `Pin.override(es_client.transport, service=service_name)`

http://pypi.datadoghq.com/trace/docs/db_integrations.html#elasticsearch

[2019-10-24 15:39] Kyle-Verhoog commented on #1011
You got me all excited that the issue was resolved! 😆

[2019-10-24 15:51] eedwards-sk commented on #1011
Well unfortunately `0.30.2` did not resolve it for me, either.

I'm seeing the service + traces for our celery beat scheduler and the django web app, but still none for the celery worker.

[2019-10-24 17:10] shuvozula commented on #1011
Pretty sure the Celery workers have access to the Datadog agent, verified from some debugging logging that `tracer.configure()` is connecting to the same agent host as the Django app (Django-Rest-Framework actually). But I'm not sure how to verify if the agent is receiving the spans from Celery (checked agent log messages)

[2019-10-24 21:29] brettlangdon commented on #1110
Closing this for now since @mislavcimpersak is now seeing tracings coming in.

But we'll keep an eye on #1011.

[2019-10-24 21:29] #1110 closed

[2019-10-24 21:48] brettlangdon commented on #1011
Would someone be able to run their celery worker with debug logging enabled for us?

If you are using `ddtrace-run`, you can set `DATADOG_TRACE_DEBUG=true` and `DD_LOGGING_RATE_LIMIT=0` environment variables.

If you are not using `ddtrace-run`, you can configure via code:

[code]

But will still need to set `DD_LOGGING_RATE_LIMIT=0` environment variable.

If you do not wish to share the logs here

[2019-10-24 21:50] eedwards-sk commented on #1011
@brettlangdon I can definitely do that, but our logs are currently shipped to Datadog :) what is the best way to share them?

[2019-10-24 21:54] brettlangdon commented on #1011
@eedwards-sk you can send me a link to Log Explorer if they are showing up in there.

Or I am guessing I can search `level:DEBUG` and `"ddtrace"` to probably find them, but I didn't see anything yet so just let me know and I can probably go spelunking for them :)

[2019-10-24 22:03] eedwards-sk commented on #1011
Deploying Now, you should see debug logs show up from the worker here shortly:

[code]

[2019-10-24 22:05] zhaoyi0113 commented on #1108
I have added `patch_all` and using `transport` in my code. I can see that `Elasticsearch` appears under my service resources. But it is still showing as a separate service on the root level. Is it expected?

[2019-10-24 22:10] eedwards-sk commented on #1011
I've reverted the debug logging. You won't see much in the logs. That app has extremely infrequent celery jobs.

We have another project that also uses celery 4.x and is having the same issue, but it doesn't run in a stage environment.

I'm a bit hesitant to enable debug logging in production.

[2019-10-24 22:12] mislavcimpersak commented on #1110
Thank you @brettlangdon for the assistance! 🌟

[2019-10-24 22:19] brettlangdon commented on #1011
Yeah, I don't really see anything in there, would ideally need debug logging when a job gets processed.

For debug logging, it'll really just make a bunch of noise, pretty harmless, but I also totally understand the hesitation to enable in production.

Do you happen to have this same problem when you run the celery worker locally/in dev?

[2019-10-24 22:22] eedwards-sk commented on #1011
I don't have a good way to test it locally or in dev either. Long story.

I will try and enable it in production.

[2019-10-24 22:30] brettlangdon commented on #1011
@eedwards-sk how often does this worker run jobs?

I decided to manually navigate to the service page for it... and I do actually see some traces, but there is like 1 every few days only (6 traces over the last month).

https://app.datadoghq.com/apm/service/spice-worker/celery.run?end=1571956113819&env=prod&paused=false&start=1569364113819

(also heads up, sort of past EOD for me, so I might trail

[2019-10-24 22:33] eedwards-sk commented on #1011
That app should have daily jobs, but some stuff is likely infrequent.

The other app I'm enabling debug on now is actually the one we feel the pain point with and it runs jobs frequently.

[2019-10-24 22:37] eedwards-sk commented on #1011
Also to be clear, the issue was never that we aren't getting ANY traces. As I've said a few times, I proved the app is getting instrumented properly and can send traces. The issue seems to be with autodiscovered tasks (or similar).

[2019-10-24 22:52] eedwards-sk commented on #1011
Here you go:

[code]

This project invokes worker tasks every 10 minutes at a minimum. These logs show the startup of the app with celery being instrumented, but no trace output when the tasks run, and no traces.

[2019-10-25 17:42] shuvozula commented on #1011
Here's mine:
[code]

[2019-10-25 19:14] apmcasai commented on #485
Was there a resolution here? I'm trying all of the above but am not getting requests traces in django/gunicorn/nginx server

[2019-10-25 20:05] Kyle-Verhoog commented on #1011
Phew, thank you both with your patience and willingness to help with debugging this pesky issue!

I think I'm **finally** able to reproduce it on my end. Like you said @eedwards-sk, it does seem to be related to only shared tasks, but I couldn't reproduce unless it was in a Django app. Going to drill down into it now and hopefully find the problem.

[2019-10-25 20:51] Kyle-Verhoog commented on #1011
@eedwards-sk (I think you're already aware of this), @shuvozula note that `ddtrace` will disable itself if you have `DEBUG=false` in your Django `settings.py`. This will happen even for celery workers since celery pulls in Django settings when looking for workers (and then `ddtrace` reads the Django settings when auto-patching Django).

This is one complication I had when trying to reproduce. I di

[2019-10-26 21:24] nickwilliams-eventbrite opened #1114 "Regression: Linearly-increasing CPU usage as time goes on starting in 0.30"
Starting in 0.30, in applications with very high load and very little idle time, the `ddtrace` writer thread uses higher CPU that increases linearly as time elapses from application startup. It took us the better part of two days to figure out this was the culprit, but we have no idea why. The problem manifested when other metrics (not tracing) showed us that 1) the CPU the application was using k

[2019-10-28 14:38] karolinepauls opened #1115 "DDLogger rewrites LogRecord.msg, which causes Sentry events duplication"
Sentry uses `LogRecord.msg` to identify log events. LogRecord.msg is the log message template, to be formatted on demand.

When rewriting `msg`, one should not enrich it with arbitrary values, like `logging_bucket.skipped`.

The line
[code]

should be something like:

[code]

Culprit:
https://github.com/DataDog/dd-trace-py/blob/914cbca4ba5ec53ff17cb67164cb51b7bcd91ac2/ddtrace/internal/logger.py#L1

[2019-10-28 17:01] eedwards-sk commented on #1011
@Kyle-Verhoog Thanks for chasing down a repro!

If at all possible, please add our use case to your regression testing.

It would be very helpful for us to ensure this functionality does not break again, once you fix it :)

[2019-10-29 00:23] zhaoyi0113 commented on #1108
As it is pretty clear about what to do with regular python program. Thanks for the response.

[2019-10-29 00:23] #1108 closed

[2019-10-29 13:22] brettlangdon commented on #485
@apmcasai which traces are you not getting? `django`/`gunicorn`/`nginx` requests, or the `requests` library?

[2019-10-29 13:31] apmcasai commented on #485
All the Django classic traces show up nicely. DB queries are pretty well done. However inside my endpoints I call other services using the requests library.

I can now see the individual spans for the requests calls. However what I'd like to see is how long each request is taking per domain and per HTTP method. Is there a way to see better traces for REST requests done thru the python requests lib

[2019-10-29 13:37] brettlangdon commented on #485
Perfect, thank you for the clarification, having a library called "requests" can make it hard sometimes 😆

What version of the tracer are you using? `requests` was enabled by default in `v0.24.0` (latest is `v0.30.2`.

You can manually specify that it should be enabled via `DATADOG_PATCH_MODULES=requests:true` if you are using `ddtrace-run`.

If you are not using `ddtrace-run` (even if you are) yo

[2019-10-29 13:38] #1115 closed

[2019-10-29 13:47] majorgreys commented on #1114
@nickwilliams-eventbrite Thank you for raising as an issue. Before we dig further, I wanted to make sure you are on the current release, 0.30.2, which includes a few bug fixes we identified in 0.30.0.

[2019-10-29 16:03] apmcasai commented on #485
Thanks Brett.

I'm using the docker datadog agent on the same network as django. I guess it pulls the latest version. I'm running it as follows:
`ddtrace-run gunicorn my_wsgi:application --bind 0.0.0.0:8000`

With the following config in my django settings:
`DATADOG_TRACE = {
    'DEFAULT_SERVICE': 'django',
    'TAGS': {'env': 'prod'},
    'AGENT_HOSTNAME': 'datadog-agent',
    'AGENT_PORT': 8126

[2019-10-31 22:50] Kyle-Verhoog commented on #1011
@eedwards-sk we had success some success with #1102. Would you be able to try it out as well?

`pip install -e git+https://github.com/datadog/dd-trace-py@celery/strongref#egg=ddtrace`

(Also, be sure either the `django` integration is disabled or `DEBUG=True` (in `settings.py`) for the celery worker so that the tracer doesn't get disabled.)

Hopefully this addresses the problem!

[2019-11-01 16:32] majorgreys commented on #1091
@manuher your proposal makes sense. Could you start a PR that includes a test for supporting passing along the `app_key` argument from `render_template` to `get_env`?

[2019-11-08 17:47] eedwards-sk commented on #1011
Sorry, was on vacation.

I'm happy to test a new official release, but since we don't have an easy repro outside of production, I am not comfortable testing with a custom branch that has not been accepted.

Rather than rely on me to test the release, it would be better if you had a proper regression test that exercises this behavior, so you can release it with confidence, and so we can continue to

[2019-11-11 16:11] adamchainz opened #1128 "No Changelog"
I can't find a changelog so I'm not sure if it's safe to upgrade to a new version, if it's still compatible with the libraries I want to trace.

[2019-11-11 17:42] brettlangdon commented on #1128
Hey @adamchainz we publish our release notes in https://github.com/DataDog/dd-trace-py/releases

[2019-11-11 17:43] brettlangdon commented on #1128
Duplicate of #1056, will close this and we can track together over there.

[2019-11-11 17:43] #1128 closed

[2019-11-11 17:51] adamchainz commented on #1056
Can you link to the releases page prominently at least? I don't think to check GitHub releases because very few Python projects use them for their release notes.

[2019-11-13 04:09] peter-bertuglia commented on #1012
In case anyone is still encountering this issue, or encounters it, the problem is having multiple `StreamHandler`s set on the root logger. `dd-trace` calls `logging.basicConfig(format=DD_LOG_FORMAT)` during it's bootstrapping process, which creates a `StreamHandler` on the root logger. Then, as part of setting up `python-json-logger`, you create another `StreamHandler` and set the JSON formatter o

[2019-11-19 06:36] techdragon opened #1139 "Integration Guidance for 3rd Party Library Authors"
At the moment it seems that the only options for tracing support in code are "instrumented by end users", and "built in support using the patching tools".

Is there a recommended way for 3rd party library authors to add support for tracing in their libraries? I've got a complex library that I maintain and want to instrument for performance reasons but I don't want to require using DataDog, or burd

[2019-11-19 18:34] akshjain83 opened #1140 "Cannot configure redis and mysql service name for celery worker"
For our celery apps, we are not able to configure service name for redis and mysql modules. Please take a note of our celery setup here:
1. A different python app as celery producer
2. A different python app as celery worker
3. Redis as celery broker
4. MySQL as celery backend

Celery internally uses connection pooling so there is no way (as far as I went through celery code) to get the broker and

[2019-11-20 17:14] povils opened #1142 "Support for responder"
Is there an easy way to integrate with responder web framework?

https://github.com/taoufik07/responder

[2019-11-20 18:49] eedwards-sk commented on #1011
Hi,

Any updates on this?

[2019-11-20 19:59] eedwards-sk commented on #1011
@Kyle-Verhoog @brettlangdon I just got confirmation from our rep that this was released.

Can we please close the ticket to reflect as much?

I will be testing the release shortly.

I was disappointed to discover the fix was released and no-one came here to help inform everyone who has been waiting for it. It's been almost 4 months without celery APM now.

[2019-11-20 20:17] Kyle-Verhoog commented on #1011
Hi @eedwards-sk,

@shuvozula confirmed that #1122 fixed their celery issue and it was included in `v0.31.0` late last week.

My apologies for not updating the thread when that went out. I want to keep this issue open until it is confirmed to be resolved for you as it's not clear whether it's the same issue that you're experiencing or not.

[2019-11-20 20:38] eedwards-sk commented on #1011
I've installed and deployed `0.31.0` to our single-environment production application which was exhibiting the problem.

We are now seeing requests show up (so our "celery worker" does now show up in the services list), but we are not yet receiving any traces:

https://app.datadoghq.com/apm/resource/crm-worker/celery.run/527d881f8a562742?end=1574282109033&env=infra&index=apm-search&paused=false&st

[2019-11-20 21:49] eedwards-sk commented on #1011
We're still failing to get any traces. So while the tasks are now being discovered, it's not generating the expected traces.

[2019-11-20 23:15] eedwards-sk commented on #1011
We got [one trace](https://app.datadoghq.com/apm/resource/crm-scheduler/celery.apply/527d881f8a562742?end=1574290760124&env=infra&index=apm-search&paused=false&start=1574287160124&event=AQAAAW6K5p7MkKohVwAAAABBVzZLNXExY0lJVWRHS1FNOXFRaQ&traceID=2513783439868597393&spanID=519773721689015963&routing_hint=1574288400076) to show up on the celery scheduler (celery beat).

No traces for the celery worke

[2019-11-20 23:22] Kyle-Verhoog commented on #1011
@eedwards-sk thanks for the updates, I checked on your account and see the same. The service is there but no traces. Very strange as I don't think they should be sampled either.

I'm investigating further to see why this might be happening.

[2019-11-21 00:51] Kyle-Verhoog commented on #1011
@eedwards-sk after some investigation our best guess is that they did get sampled out. If you could update your agent to the latest version as we've included some metrics related to sampling that would assist in confirming that the traces were indeed sampled out.

Hopefully we'll see in the next couple days!

[2019-11-21 17:25] eedwards-sk commented on #1011
Hey @Kyle-Verhoog I pushed new docker hosts with the latest datadog agent into production last night.

I am seeing traces for the worker tasks, which is great news.

I'm going to close the issue and will open a follow-up if I notice sampling issues.

To conclude, I beg of you, as you're authors of a product that we're paying for, to do the work necessarily to set up automated regression testing fo

[2019-11-21 17:25] #1011 closed

[2019-11-26 20:02] odannyc commented on #796
I'm also running into this same issue.
I configure the `logging.basicConfig` on my application side by adding level, formatters and handlers to it. Unfortunately `dd-trace` breaks my logging format.

[2019-11-26 21:58] nickwilliams-eventbrite commented on #1114
With much caution and anxiety, we tested 0.31.0 in Production today, and it no longer exhibits the symptoms observed in 0.30.x. I would really love for us all to understand better what caused this issue and what fixed it, so that we keep it from happening again in the future, but for now this issue is resolved.

[2019-11-27 20:19] majorgreys commented on #1114
I appreciate your team upgrading to 0.31.0 after the problems with 0.30.x and I'm glad it's working out. I'll close this issue for now, but please re-open it if anything crops up again with cpu usage.

[2019-11-27 20:19] #1114 closed

[2019-11-29 16:39] AdrianLC opened #1153 "Opentracing active_span not working without starting new child span"
### Which version of dd-trace-py are you using?
ddtrace[opentracing]==0.31.0

### Which version of the libraries are you using?
python 3.8
Django==2.2.6
channels==2.3.1
uvicorn==0.10.3
uvloop==0.14.0rc2
datadog==0.31.0

### How can we reproduce your problem?
When calling `opentracing.global_tracer().active_span` with automatic instrumentation of Django requests enabled.

These are our Datadog rela

[2019-11-29 16:45] AdrianLC commented on #1153
Possibly related?? https://github.com/DataDog/dd-trace-py/pull/838

[2019-12-02 16:07] dreki opened #1155 "False "Failed to send traces to Datadog Agent" errors"
### Which version of dd-trace-py are you using?

`0.31.0`

### Which version of the libraries are you using?

[code]

### How can we reproduce your problem?

Here's our init code:

[code]

And our tornado application settings:

[code]

### What is the result that you get?

Every 7-15 minutes or so (unpredictable rate of incidence) we see a "Failed to send traces to Datadog Agent" entry in our Data

[2019-12-02 16:08] dreki commented on #1155
Here's a sample log message:

[code]

[2019-12-02 16:24] brettlangdon commented on #1114
@nickwilliams-eventbrite if you were using `0.30.0` we accidentally released with some new metrics collection enabled by default. As well, this version of our metrics collection included calculating `sizeof` of every trace we created, this in particular we found to have a negative performance impact.

In later bug fix versions of `0.30.x` we disabled these metrics by default, and in the latest ver

[2019-12-05 15:13] mandreascz opened #1156 "Proper handling of HTTPResponse with bottle.py"
Hi,

I noticed that `TracePluging` for `bottle` is incorrectly logging event status code in case we use `raise` to return the response.

We are doing some validation so we want to return 400 status code. DD logs it as 500 instead.

### Which version of dd-trace-py are you using?
datadog==0.31.0
ddtrace==0.30.2

### How can we reproduce your problem?
[code]

Then run the app with `python demo.py`

[2019-12-06 20:46] majorgreys commented on #1155
This log record is created when the request to send traces throws an exceptions, which we log in this case along with its exception message.

@dreki Why do you think this is a false negative? It could be a networking issue in your k8s environment or perhaps the agent restarting. Logs from either might shed light on what is happening when the tracer gets this exception upon a put request to the age

[2019-12-09 14:24] dreki commented on #1155
@majorgreys Discussion online made it sound like it was an acknowledged negative. If this is legit, that's great; would it be possible to log further exception information? We've found no other error messages anywhere to hint at what this might be.

[2019-12-09 17:03] majorgreys commented on #1156
@mandreascz Can you explain why you chose to raise an `HTTPResponse` and not a `HTTPError` for this 400 case? Looking at the `bottle` source code itself I don't find any `raise HTTPResponse` though do find many cases of catching an `HTTPResponse` exception. Is this a general convention in the community?

[2019-12-10 04:24] berkowitzi opened #1159 "Add configuration option for partial flush"
#668 implemented support for partial flushes, yet did not expose a top-level configuration flag to enable this support. As such, configuration is only currently possible via environment variable. Add those config options here, backing both `_partial_flush_enabled` (default `False`), and `_partial_flush_min_spans` (default `500`).

[2019-12-10 14:40] brettlangdon commented on #1159
hey @berkowitzi thanks for opening this issue. Do you mind me asking why you need to enable partial flushing?

I am just curious about your current trace structure that would require partial flushing.

[2019-12-10 18:39] berkowitzi commented on #1159
Hi @brettlangdon ,
We're using `ddtrace` to send traces from a python/postgres monolith to LightStep. We've found that for some of our longer async/batch operations, the data just isn't making it out of `ddtrace` (we actually haven't been seeing any errors logged either), but that enabling partial flushes had solved the issue.
For reference, we're looking at traces with ~1000 spans (still working

[2019-12-11 12:46] JordanP commented on #1155
We also got that since a long time (not 0.31 specific), so much that we had to put
[code]
somewhere in our code.

It would be great to log more info here to help you debug this.

[2019-12-11 18:33] brettlangdon commented on #1159
Hey @berkowitzi

What do you mean by:

Curious to hear about how you have the tracer configured. (this is the first time I've heard anyone use our tracer like this)

[2019-12-11 18:36] majorgreys commented on #1061
@goodspark Sorry for the delayed response here to this question. Perhaps you figured out an answer but I wanted to share a few responses that might help.

As described in [Trace Sampling and Storage](https://docs.datadoghq.com/tracing/guide/trace_sampling_and_storage/?tab=python), the agent computes aggregate statistics over all the instrumented traces, regardless of sampling decision.

Setting th

[2019-12-11 20:19] majorgreys commented on #1156
This issue should be fixed by #1158.

@mandreascz Please re-open if you are still experiencing this problem.

[2019-12-11 20:19] #1156 closed

[2019-12-12 02:12] berkowitzi commented on #1159
Hi @brettlangdon - my understanding was that in connectin with this announcement around `ddtrace` and OpenTelemetry https://www.datadoghq.com/blog/opentelemetry-instrumentation/, LightStep updates their infrastructure to be able to consume tracing data coming off of the `ddtrace` tracers. We chose to take advantage of this and use `ddtrace-py` over the LightStep tracer because it gave us more auto

[2019-12-12 14:20] brettlangdon commented on #1159
Ah, yeah. So `dd-trace-py` was actually forked and being used as the basis for OpenTelemetry auto-instrumentation library. This library still only supports submitting traces to the Datadog trace agent and platform. The OpenTelemetry fork of this project has not yet been released.

[2019-12-12 16:54] berkowitzi commented on #1159
@brettlangdon my understanding is that LightStep added support for the ddtrace wire format a couple of months ago so this library does actually support sending tracing data to their infrastructure. We’ve been using it in production without issue (present issue of minimal dropped traces not withstanding) for that time.

[2019-12-12 18:48] brettlangdon commented on #1159
Interesting, this is news to me, thanks for sharing. This is all helpful context.

Back to the problem at hand.

I actually wouldn't expect traces with 1k spans to be too much of a problem unless you are generating a ton of them. Is there a specific problem you are seeing, is there a timeout issues, or do they get rejected by the agent, etc?

Some other hopefully helpful context. The reason we hav

[2019-12-13 18:59] majorgreys commented on #1155
@dreki and @JordanP You might want to consider rate limiting the library logger using the `DD_LOGGING_RATE_LIMIT` as described in [internal/logger.py](https://github.com/datadog/dd-trace-py/blob/master/ddtrace/internal/logger.py#L72-L75). This is not currently documented in our library documentation, but we are planning it in an upcoming update.

I would encourage you to reach out to Datadog suppo

[2019-12-19 19:44] majorgreys commented on #1061
@goodspark Can you update with whether my explanation and suggestion resolves this issue?

[2019-12-19 20:17] jeremy-lq opened #1163 "Announcement: Intent to dual license this repo"
This issue is to notify the community of our intention to make this tracer available under the BSD-3 license (as is the case now) or the Apache 2 license (which is our default for new projects). This will allow you to consume the tracer under the same license you currently are, while also adding and option that brings consistency with our other projects and compatibility with [OpenTelemetry](https

[2019-12-27 19:33] alanjcastonguay opened #1170 "Getting psutil installed is difficult"
The dd-trace-py library depends on the psutil library since #819

https://github.com/DataDog/dd-trace-py/blob/2b9a086f899390a44448a266d0f60d6eb559c4fa/setup.py#L70

The psutil library package has C extensions for platform-specific functionality. The package requires a working compiler (eg GCC) and other C header files to build those platform-specific bits. If the package is installed in a containe

[2019-12-27 19:36] brettlangdon commented on #1170
hey @alanjcastonguay thanks for opening up this issue, indeed I opened #1160 as a potential solution to this problem.

This doesn't me we are against helping the psutil maintainers get wheel building setup and going, but the vendoring approach at least seemed like something in our control for now that we can try and push through without many roadblocks.

[2019-12-27 21:48] alanjcastonguay commented on #1170
Certainly, there's less red tape this way. Anything learned from this effort can be borrowed too.

[2019-12-28 00:25] brettlangdon commented on #1170
Probably won't be able to borrow as much as you'd think.

Building wheels isn't terrible, we have scripts that do that. The tricky part here is telling our `setup.py` how to build the c-extensions for `psutil` and making sure our installation doesn't fail if `psutil` install fails.

This is mostly all we do to build wheels: https://github.com/DataDog/dd-trace-py/blob/a5d21865f8b9ff3806c1253a72b91d

[2019-12-28 00:25] brettlangdon commented on #1170
(but, we also only publish manylinux wheels, not sure if that will cause issues for `psutil` since it has distro specific c-extensions)

[2019-12-28 00:39] alanjcastonguay commented on #1170
That's far simpler. I think the early parts of other efforts predate manylinux1 working, so they were fighting with CentOS for a while while disentangling OSX-specific things? I'm happy with manylinux1, though maybe manylinux2010 will become important soon.

[2020-01-02 19:15] majorgreys commented on #1061
@goodspark I am closing this issue though do reopen if your original problem is still unaddressed.

[2020-01-02 19:15] #1061 closed

[2020-01-08 21:41] majorgreys opened #1173 "Add dogpile.cache to support libraries"
We need to update https://github.com/DataDog/dd-trace-py/blob/master/docs/index.rst after #1123

[2020-01-10 13:58] DazEdword opened #1178 "Error installing ddtrace 0.32.2 from pipenv"
### Which version of dd-trace-py are you using?
 0.32.2

### How can we reproduce your problem?
- Add `ddtrace = "==0.32.2"` to pipenv
- Run `pipenv update`.

### What is the result that you get?
`An error occurred while installing ddtrace==0.32.2 `

### What is result that you expected?
Correct installation.

Note: installing  `0.32.0` works perfectly fine.

[2020-01-10 14:27] brettlangdon commented on #1178
@DazEdword which version of Python are you using?

[2020-01-10 14:30] DazEdword commented on #1178
Hey @brettlangdon

That's 3.6

[2020-01-10 14:35] brettlangdon commented on #1178
thanks, let me try to reproduce locally.

would you be willing to run `pipenv update --verbose`? it _should_ help show the error it is seeing.

[2020-01-10 14:47] DazEdword commented on #1178
It seems that it's struggling to find it in the pypi indices, I can see many instances with different versions and architectures such as this:

[code]

My local OS is:

[code]

[2020-01-10 15:34] majorgreys commented on #1178
@DazEdword, I'm trying to reproduce this issue on our end, but not seeing it crop up.

My steps for reproducing this on a Mac has been:

[code]

The library installs and the run command prints the expected `0.32.2`.

As a caveat, this was on Mac OS 10.14, though as you note you are on 10.15.

Can you share a link to the output of `pipenv update --verbose`?

[2020-01-10 15:48] majorgreys commented on #1178
@DazEdword I think I now have reproduced your issue by first installing `ddtrace==0.32.0` and then running `pipenv update`.

The error I am getting from `pipenv update`:

[code]

I will continue investigating.

[2020-01-10 15:55] DazEdword commented on #1178
@majorgreys @brettlangdon

Thanks for your help! Tried on a newly created pipenv and it installs with no errors here as well. It fails on a private repository that includes a private Fury index (although it is not marked as the primary index, but the extra one). I definitely have seen that enum error before, but can't find it in the output I've captured (and redacted).

[ddtrace_pipenv-verbose.txt

[2020-01-10 17:56] majorgreys commented on #1178
Upon further investigation, `pipenv install ddtrace=0.32.0` results in `enum34` being installed (which is the incorrect behavior) whereas `pipenv install ddtrace==0.32.2` does not (which is correct).

The backport `enum34` should only be installed for Python versions before 3.4. This was introduced with the 0.32.0 release with a conditional `install_requires`:

[code]

https://github.com/DataDog/d

[2020-01-10 17:57] majorgreys commented on #1178
@JBKahn, you might have more thoughts to share into this issue since you were also experiencing upgrading issues, but with `poetry`.

[2020-01-10 19:54] JBKahn commented on #1178
++ I had a "similar" issue with poetry. If you re-lock your deps and re-create the virtualenv it should just work. It's because enum34 was installed and now isn't required but it being present at install time is what causes the error.

[2020-01-10 19:59] BastianM3 commented on #897
Also interested in this. Dev teams have asked me quite a few times what the difference is between `postgres`, `defaultdb`...

[2020-01-13 09:16] DazEdword commented on #1178
@majorgreys Workaround does the trick for us too.

[2020-01-14 15:06] JBKahn commented on #1178
Close this issue @DazEdword @majorgreys ?

[2020-01-14 15:49] #1178 closed

[2020-01-14 17:42] jeremy-lq commented on #1163
Closing as the repo is now available under a dual license.

[2020-01-14 17:42] #1163 closed

[2020-01-16 14:55] JerryVerhoef commented on #1155
We are also exeriencing the same problem. But in our k8s environment we are also using the PHP client, this client is not reporting any errors at all. So either the PHP client is buggy in reporting the error or this is not a networking issue of the k8s environment.

[2020-01-24 22:41] kwhickey opened #1184 "Child spans lost when created in a forked subprocess"
I can't seem to get Datadog APM to pick up trace spans that are instantiated from within a child worker process of a traced parent process. The spans are created, and linked to the parent, but something goes wrong in storing and publishing them.

It could be that the worker thread created by `ddtrace._worker.PeriodicWorkerThread` that invokes the `AgentWriter` is halted in the child process when t

[2020-02-03 18:29] majorgreys commented on #1075
@JBKahn I wanted to make sure they memory issue with a disabled tracer is the expected behavior given we do not currently provide a no-op solution. Have you found the memory usage increasing over time with a disabled tracer?

[2020-02-03 23:32] JBKahn commented on #1075
yes, we have. I would hope the memory leak isn't expected behaviour. At present I've had to wrap your tracer wrapper in one of my own that only applies your wrapper if it's enabled. This helps to keep the memory issues at bay (the same memory issues we have sometimes when it's enabled).

[2020-02-05 07:38] olivierlefloch opened #1192 "`ddtrace>=0.30.0` starts a thread at import, leading to issues with gevent.monkey.patch_all"
# Package versions

[code]

[code]

This occurs with `python>=3.6`, `gevent>=1.3` (older versions are not compatible with `py3.6` anyway) and `ddtrace>=0.30.0,<=0.33.0` (current latest as of this bug filing).

# Steps to reproduce

With `test_gevent.py` as follows:

[code]

run

[code]

The `gevent` patching fails because a thread has already been started, but `ddtrace` patching has not been expli

[2020-02-06 16:51] lanterno commented on #324
👋 Hey @majorgreys is there any news on the progress here? I can't wait for this feature :)

[2020-02-07 12:17] #1192 closed

[2020-02-11 16:36] majorgreys opened #1198 "django opentracing: disconnected middleware spans with new django integration"
When updating the [python/opentracing/django](https://github.com/DataDog/trace-examples/tree/master/python/opentracing/django) example to the new Django integration (#1161), we gain visibility but the spans generated from the middleware are not part of the same trace.

Before update:

![image](https://user-images.githubusercontent.com/155673/74256865-0c2f1500-4cc2-11ea-945a-810017448f71.png)

Afte

[2020-02-11 18:08] majorgreys commented on #1030
@JBKahn @emosesPatreon We will be unvendoring msgpack to avoid these issues with the C extensions.

Are there any other vendored libraries that you were having issues with?

[2020-02-12 05:00] JBKahn commented on #1030
Yay. Nothing that I can recall. But I'll think it over.

[2020-02-12 17:37] iandelahorne commented on #1030
@majorgreys That's good to hear (I'm from the same org as @emosesPatreon was reporting from). Eagerly looking forward to the next release.

We haven't seen any other vendored libraries cause issues yet but we'll file issues / support tickets if we do.

[2020-02-12 21:51] majorgreys commented on #1030
@iandelahorne @JBKahn @emosesPatreon Can you confirm the update now on `master` fixes this issue?

[2020-02-12 22:01] majorgreys commented on #1030
`master` now no longer has `msgpack` as a vendored dependency. I was able to reproduce the issue @JBKahn originally provided before this change (thanks for the clear description!) and the `TypeError` is no longer being thrown after the change. If there are still any issues with having msgpack as a dependency, please re-open this issue and I'll make the adjustments.

[2020-02-12 22:01] #1030 closed

[2020-02-13 22:37] majorgreys commented on #324
@lanterno @hockeybuggy @brett-lempereur Can checkout the new Django integration that is now on `master`?

Class-based views are being patched so you should gain some visibility into them:

https://github.com/datadog/dd-trace-py/blob/master/ddtrace/contrib/django/patch.py#L546

We have [documented how to migrate](https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/contrib/django/__init__.py#

[2020-02-14 00:10] hockeybuggy commented on #324
@majorgreys Thanks very much! Sorry but I no longer have access to a Django app so I won't be able to try it out.

[2020-02-18 22:01] tkrempser commented on #986
@brettlangdon Any news?

[2020-02-19 09:11] jd opened #1215 "test_flush_connection_uds randomly fails with BrokenPipeError"
[code]

https://app.circleci.com/jobs/github/DataDog/dd-trace-py/193358/parallel-runs/0/steps/0-104

[2020-02-20 14:35] AdrianLC opened #1217 "App analytics support for the Celery integration?"
### Which version of dd-trace-py are you using?
0.31.0

### Which version of the libraries are you using?
celery 4.4.0

### How can we reproduce your problem?
We've tried to enable app analytics for the traces generated with the Celery integration and the services `celery-producer` and `celery-worker` without success. We attempted with env vars:
`DD_CELERY_ANALYTICS_ENABLED=True` and also `DD_CELE

[2020-02-20 16:16] carlosperello opened #1219 "aiopg monkey patching breaking with aiopg 0.15, psycopg2 2.7.5 and psycopg2-binary 2.7.5"
### Which version of dd-trace-py are you using?
0.33.0

### Which version of the libraries are you using?

aiopg==0.15.0
psycopg2-binary==2.7.5
psycopg2==2.7.5

### How can we reproduce your problem?

Our python script had this on the top of the file:

[code]

### What is the result that you get?

The app start breaks with:
[code]

### What is result that you expected?

App starting up and `aiopg`

[2020-02-20 22:58] majorgreys commented on #1219
@carlosperello I'm trying to reproduce this issue locally and beginning with a minimal case to isolate the problem.

I see that `aiopg==0.15.0` requires `psycopg2>=2.7.0` whereas you have additionally installed `psycopg2-binary`. I ran our `aiopg` tests with both installed without problem, though I am not sure if that reproduces the ordering on your end. Can you try to run your tests with just `ps

[2020-02-21 21:14] brettlangdon commented on #1170
@alanjcastonguay we have just released `0.34.0` which vendors `psutil` so it gets built into our wheel.

Give it a try and let us know if it solves your issue!

[2020-02-21 21:14] #1170 closed

[2020-02-24 11:32] carlosperello commented on #1219
@majorgreys Thanks for checking.

I updated your gist at https://gist.github.com/carlosperello/01179b9b081d61d4df203644d7dd8f32 which reproduces exactly my issue. The missing bit on your example is that you were not importing or using `aiohttp` module which seems to be that causes the issue when used together with `aiopg`.

About your comment on my patching code not enabling `aiopg` is true, I cop

[2020-02-24 13:00] raphaelauv opened #1224 "redis-py-cluster new API 2.0.0"
### Which version of dd-trace-py are you using?
 lastest 0.34.0

### Which version of the libraries are you using?

redis-py-cluster  2.0.0

### How can we reproduce your problem?

change https://github.com/DataDog/dd-trace-py/blob/master/tox.ini redis-py-cluster version

### What is the result that you get?

ERROR. It's no more StrictRedisCluster but  just RedisCluster

### What is result that yo

[2020-02-25 13:48] jd commented on #1215
This really seems to be random and hard to reproduce. I was unable to reproduce it locally in a whole afternoon. :(
It also makes little sense to me since the server should be running and I don't see what would make it close the connection.

[2020-02-26 15:50] majorgreys commented on #1219
@carlosperello I think the issue might be specifically the ordering how how `aiopg` and `psycopg2` are patched. If I place `psycopg=True` before `aiopg=True` in `patch()`, I don't get an error, whereas if `psycopg=True` comes after then an error is produced. This is not a problem when you use `ddtrace-run` since it is calling `patch_all` where loads the `psycopg` integration before the `aiopg` int

[2020-02-26 19:06] #1224 closed

[2020-02-27 01:51] jadami10 opened #1229 "Enabling logging when not running via ddtrace-run"
### Which version of dd-trace-py are you using?
0.34.0

### How can we reproduce your problem?
Use dd-trace-py in a python script but don't run with `ddtrace-run`

### What is the result that you get?
My script runs, and my logs appears, but no logs from ddtrace appear.

### What is result that you expected?
I expect some logging to appear. I realize that ddtrace-run calls logging.basicConfig. Is

[2020-02-27 08:37] raphaelauv commented on #1224
Can we expect a new release ? I do not now the release policy

thank again

[2020-02-27 15:07] majorgreys commented on #1224
@raphaelauv We released 0.34.0 a week ago and have had a cadence of a new release every 3-4 weeks.

[2020-02-27 16:10] alanjcastonguay commented on #1170
Fantastic; `ddtrace==0.34.0` installs perfectly everywhere I wanted it to.

[2020-02-28 11:18] subodh101 opened #1230 "Additional Environment Variable setting using patch"
Thanks for taking the time for reporting an issue!

Before reporting an issue on dd-trace-py, please be sure to provide all
necessary information.

If you're hitting a bug, make sure that you're using the latest version of this
library.

## What?
https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/monkey.py#L112

[code]

ddtrace works pretty fine with just 2 lines of code. ❤️
But I was hopi

[2020-02-28 13:14] opalczynski opened #1231 "Django - set_tag on span require now ALLOWED_HOSTS in version 0.34.0"
### Which version of dd-trace-py are you using?
The bug apply to 0.34.0

### Which version of the libraries are you using?
django==2.2.0

You can copy/paste the output of `pip freeze` here.

### How can we reproduce your problem?
Yay, it will require a bit of work, but my case is as follows:

* I have healtcheck view configured in the application which I am using with AWS Load Balancer healtcheck

[2020-02-28 13:15] opalczynski commented on #1231
Btw. the workaround is obviously to use 0.33.0 of ddtrace now :)

[2020-02-28 14:17] brettlangdon commented on #986
@sazlin and @tkrempser we have recently released a big update to our Django integration in `ddtrace==0.34.0`, would you both be willing to give that a try and let us know if this issue still exists?

[2020-02-28 18:49] arturodelreal opened #1234 "ClassView method with static method"
In version 0.34.0, ddtrace doesnt allow to have this class view:

[code]

raising this error when the view is called
`TypeError: get() takes 1 positional argument but 2 were given`

I think that in this version, force to pass the instance

I solve it changing to ddtrace 0.33.0, but i report this anyway

Thanks

[2020-02-28 22:04] majorgreys commented on #1231
@opalczynski Thank you for reporting this. Can you check whether the fix I started in #1235 does in fact fix your issue?

[2020-02-28 22:14] majorgreys commented on #1230
@subodh101 Do you mean to configure the Datadog agent hostname for the tracer in particular? If so, you want to be using `tracer.configure()` to do any setup, or set the `DD_AGENT_HOST` environment variable.

http://pypi.datadoghq.com/trace/docs/advanced_usage.html?highlight=configure#agent-configuration

[2020-02-29 10:30] opalczynski commented on #1231
@majorgreys I checked the fix - it should work, I will made a confirmation on the beginning of the week. Thanks for taking care of this issue.

[2020-03-02 22:36] inikolaev commented on #414
I have somewhat similar need to be able to see `4xx` responses in the graph, without manually filtering all requests for those.

[2020-03-04 14:24] majorgreys commented on #1234
@arturodelreal Thank you for reporting this, we are working on a fix now.

[2020-03-04 17:23] kwhickey commented on #1184
Bump.

Any traction on this?

Any quick acknowledgement that this is something that _should_ or _should not_ be doable (continuing a trace from parent process to forked child process, that is spans created in each process are added to that final trace and span graph).

Thank you

[2020-03-05 14:42] subodh101 commented on #1230
Thank you so much! you just got a new follower :)

[2020-03-05 14:42] #1230 closed

[2020-03-05 19:07] majorgreys commented on #1231
@opalczynski Can you confirm the fix? Thanks!

[2020-03-05 23:16] #1231 closed

[2020-03-06 06:12] Reskov opened #1247 "ddtrace not working with new aiobotocore library"
### Which version of dd-trace-py are you using?
0.34.0

### Which version of the libraries are you using?

[code]

### How can we reproduce your problem?
[code]

### What is the result that you get?
[code]

### What is result that you expected?
Successfully patched `aiobotocore` library

[2020-03-06 14:27] #1234 closed

[2020-03-08 14:38] opalczynski commented on #1231
@majorgreys Sorry for the late notice - did a check on local environment - it works now; Thanks.

[2020-03-10 13:52] majorgreys commented on #1219
@carlosperello Did reordering the patch sequence address the problem you were having?

[2020-03-10 14:43] Siecje opened #1255 "How to migrate patch_db()?"
I'm upgrading from `0.33.0`. `0.34.0` contains breaking changes. Since datadog only runs in production I didn't know about them until it was deployed.

Ideally the major version should have changed but at least the release notes should have used the term "breaking changes". When I read it, it seemed there was a new Django integration and the old way would still work. https://github.com/DataDog/dd-

[2020-03-10 17:41] majorgreys commented on #1255
Thank you for point this out @Siecje.

Before 0.34.0, the Django integration was configured using `settings.INSTRUMENT_DATABASE` in https://github.com/DataDog/dd-trace-py/blob/v0.33.0/ddtrace/contrib/django/patch.py#L72. The migration to 0.34.0 handles this configuration still.

However, as you point out, a lot has changed with the new Django integration under the hood.

We try our best with each

[2020-03-10 17:46] Siecje commented on #1255
`INSTRUMENT_DATABASE` was `False`. I don't know why `patch_db()` was used. I wasn't able to find documentation on it.

This is the previous config.

[code]

This is the new config.

[code]

I hope this is equivalent.

[2020-03-11 12:44] majorgreys commented on #1255
@Siecje Are you using `ddtrace-run` for enabling Django tracing? If not, you'll want to follow the instructions for the manual instrumentation. Either way, you can use the environment variables `DD_TRACE_GLOBAL_TAGS` and `DD_AGENT_HOST` to configure the tracer.

https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/contrib/django/__init__.py#L6

[2020-03-11 13:17] Siecje commented on #1255
I am not using `ddtrace-run`. So my new settings.py should have this?

[code]

[2020-03-11 13:19] majorgreys commented on #1255
Yes, that should get you Django tracing enabled with the default behavior including the `env` tag set. Please confirm that it works on your end.

[2020-03-11 13:41] #1255 closed

[2020-03-11 15:50] paddycarey opened #1263 "Unable to resolve resource names/urlpatterns when using django-hosts"
## Which version of dd-trace-py are you using?

0.34.1

### Which version of the libraries are you using?

[code]

### How can we reproduce your problem?

Use `ddtrace-run` to auto instrument a Django app that relies on `django-hosts` for host-based routing and make a request to an endpoint that isn't on the default domain.

### What is the result that you get?

All requests to endpoints on non-de

[2020-03-11 18:08] paddycarey commented on #1263
Spent a little more time looking at this and I think I see what's wrong, though still not sure how best to fix:

- `dd-trace-py` patches `BaseHandler.get_response` here https://github.com/DataDog/dd-trace-py/blob/v0.34.1/ddtrace/contrib/django/patch.py#L309
- The patched `get_response` attempts to resolve the resource name for the request _before_ invoking the wrapped `get_response`.
- The wrapped

[2020-03-11 18:34] majorgreys commented on #1263
@paddycarey Thanks for investigating this deeper and suggesting these two solutions.

The second retry solution might be preferable as the change could be restricted to updating the spans resource, e.g. by updating `_set_request_tags` at https://github.com/DataDog/dd-trace-py/blob/v0.34.1/ddtrace/contrib/django/patch.py#L119.

If you have success with one of these approaches, definitely start a PR

[2020-03-12 17:41] carlosperello commented on #1219
@majorgreys sorry for the delay answering, had to disable the APM support on that project to debug another internal issue, for some reason the `aiohttp` instrumentation caused timeout errors in our admin pages. The aiopg issue seems to be fixed now, so this issue can be closed (although having it working no matter the order of the arguments in the patch command would be awesome).

For the `aiohttp

[2020-03-12 18:02] #1247 closed

[2020-03-12 18:03] majorgreys commented on #1247
@Reskov Please confirm this fix, thank you for reporting!

[2020-03-13 15:56] paddycarey commented on #1263
I've solved this temporarily in our app by adding a new middleware (after the django-hosts middleware) that retries the resource name resolution something like so:

[code]

It works fine for right now but i'd much prefer not to have to do this at all. Now that I know the approach works, it should be easier to formulate a patch that works for `dd-trace-py` upstream.

I should be able to get back to

[2020-03-13 16:59] majorgreys commented on #1263
Thank you for sharing your workaround. We will also be looking at this sometime next week for a fix.

[2020-03-13 22:02] xarg opened #1273 "Missing module intervaltree when trying to use the profiler."
### Which version of dd-trace-py are you using?

0.35.0 -> installed using pipenv on macos 10.15.3 (19D76)

### Which version of the libraries are you using?

No other libs, it's standalone.

### How can we reproduce your problem?

The zipfile with the entire folder below: https://drive.google.com/file/d/1x50VoyyoA29mhKRDU9AH92qj7Fk_HEvQ/view?usp=sharing

To reproduce it: `pipenv install` then `py

[2020-03-13 22:28] majorgreys commented on #1273
Based on the included `Pipfile`, it seems `ddtrace` was not installed with the optional extras for the profiler as described in http://pypi.datadoghq.com/trace/docs/installation_quickstart.html?highlight=profile#id1.

As I tried to reproduce this issue, I found some issues with the currently deployed wheels which we will need to address.

For now you can build the module from the git repository, a

[2020-03-13 22:34] xarg commented on #1273
Indeed that fixes it. Ideally this doc gets updated as well: https://github.com/DataDog/dd-trace-py/blob/master/docs/basic_usage.rst#profiler - it doesn't contain the install instructions.

[2020-03-13 22:34] #1273 closed

[2020-03-14 06:58] worldwise001 opened #1274 "Add uds_path to ddtrace.opentracer.Tracer"
### Which version of dd-trace-py are you using?
0.33.0 ?

### Which version of the libraries are you using?
0.33.0

### How can we reproduce your problem?
Try setting `uds_path` when creating a `ddtrace.opentracer.Tracer`. Oh wait.

### What is the result that you get?
This nastiness:
[code]

### What is result that you expected?
This beauty:
[code]
It is not clear from the documentation how to se

[2020-03-16 13:17] brettlangdon commented on #1263
@paddycarey thanks for the code!

@majorgreys and I were digging into the `django-hosts` code on Friday to figure out this was happening, and it seems that what happens is:

1. No routes are registered on the main Django app
2. When our code runs it resolves as a 404, since there isn't a view associated with the request
3. `django-hosts` middleware runs, and resolves a route for the request
4. the

[2020-03-16 15:09] brettlangdon commented on #1274
@worldwise001 great catch!

I gave a review of #1275, seems tests are failing, but shouldn't take much to fix it up.

[2020-03-16 21:18] zhammer opened #1279 "can you globally disable tracer via an environment variable?"
it'd be helpful for our local/test development environments if we could disable ddtrace globally via an environment variable.

i tried using `DD_TRACE_ANALYTICS_ENABLED` but that doesn't seem to do the trick
[code]

also can't find any env var in the docs or from poking around the code here: https://github.com/DataDog/dd-trace-py/blob/3f8970e17e62fd81e916c14a0b5f5f70c2107036/ddtrace/tracer.py#L114

[2020-03-16 21:22] brettlangdon commented on #1279
The only thing we have right now is `DATADOG_TRACE_ENABLED` but only available if you are using `ddtrace-run`.

https://github.com/DataDog/dd-trace-py/blob/3f8970e17e62fd81e916c14a0b5f5f70c2107036/ddtrace/commands/ddtrace_run.py#L27

It has been on my mental todo list to move this from `ddtrace-run` into `ddtrace/tracer.py`.

You could implement locally via something like:

[code]

(ish)

[2020-03-16 21:23] brettlangdon commented on #1279
I'll official add a card to our backlog for this.

[2020-03-16 21:31] zhammer commented on #1279
great. yeah in these cases we're not running via ddtrace-run.

can help out with a PR if needed

[2020-03-16 21:43] brettlangdon commented on #1279
cool, it _could_ be as easy as changing this line:

https://github.com/DataDog/dd-trace-py/blob/3f8970e17e62fd81e916c14a0b5f5f70c2107036/ddtrace/tracer.py#L114

[code]

[2020-03-16 23:00] zhammer commented on #1279
ha yeah that's what i was thinking :)

[2020-03-17 14:03] majorgreys commented on #1229
Are you interested in the debug logs from the tracer, which you would get if you set the `DATADOG_TRACE_DEBUG` environment variable for `ddtrace-run`? If so, you'll need to set the logging level to `logging.DEBUG`.

More generally, you can use the instruction for manual instrumentation of the Logs Injection feature to see how to include trace and span identifiers in log messages.

http://pypi.data

[2020-03-17 15:46] xarg opened #1281 "Profiler: periodic flush option"
### Which version of dd-trace-py are you using?

ddtrace[profile]==0.35.0

### Which version of the libraries are you using?

None

### How can we reproduce your problem?

When the profiler is used like:

[code]

### What is the result that you get?

The `prof.stop()` call is synchronous - meaning that the the events to be sent to the datadog profiling service are flushed -> sent via a blocking HT

[2020-03-17 15:51] xarg commented on #1281
@jd do you think this could be done or is there an alternative I'm not seeing? Sorry for the ping, I saw you are the main contributor for this part and thought this might be relevant for you.

[2020-03-17 16:02] jd commented on #1281
Hey @xarg!

I actually have a PR that adds `flush=True` to `stop()` but it's not doing what you want I think: it will just not flush at all — ever.

The `Profiler` has been designed for being always on and barely stopped. I imagine that in you case you want to start/stop it regularly?

[2020-03-17 16:45] xarg commented on #1281
Thanks for your quick reply @jd. My use-case is a decorator with the profiler. I'm trying to profile a single flask view by decorating it with a start/stop for example. I don't necessarily want to profile the entire flask application. If I'm using the auto-profiler then how do I distinguish between view in the interface? Using tags perhaps? It's not entirely clear to me how to do that.

Flask is j

[2020-03-17 23:07] jadami10 commented on #1229
Typically when we want to update a logger in python, we call https://docs.python.org/3/library/logging.html#logging.getLogger then make changes. But the only way to affect the datadog logger seems to be to change the global logging. And if this is not what you want in your other loggers, you have to go back and undo the changes to those.

[2020-03-18 10:44] jd commented on #1281
The profiler has been designed to be always-on. The `start` and `stop` method are merely there so you're able to control more finely the flow if you _really_ need to.

Starting/stopping the profiler too often definitely adds more overhead and is likely to generate less interesting data.

We don't necessarily advise to profile only a part of an application. There might be interactions between e.g.

[2020-03-18 12:50] jd opened #1285 "Flaky test for HTTPLibTestCase.test_httplib_request_and_response_headers"
[code]

https://app.circleci.com/pipelines/github/DataDog/dd-trace-py/359/workflows/25988bb2-b77b-4f6c-8f0a-4ec9347809da/jobs/211720

[2020-03-18 17:01] xarg commented on #1281
Will try always on then and let you know how it goes.

[2020-03-18 17:01] #1281 closed

[2020-03-18 21:03] Kyle-Verhoog commented on #738
This should hopefully be addressed with our rewrite of the Django integration in `v0.34`. Let us know if it isn't and we can re-open! 🙂

[2020-03-18 21:03] #738 closed

[2020-03-18 21:04] majorgreys commented on #324
Closing this as v0.34.0 added support for class based views.

[2020-03-18 21:04] #324 closed

[2020-03-18 21:12] kwhickey commented on #1184
Bump. Again.

Maybe not looking for a fix right away, but is this
a) a bug with a feature that should work?
b) an unsupported use case?

[2020-03-18 21:39] brettlangdon commented on #1184
Hey @kwhickey so sorry for the long silence on this.

Tracing subprocess is not something that is supported out of the box right now, so it is feature request rather than a bug.

@majorgreys was working on adding support for `multiprocessing` library (#1171) but unfortunately that was bumped for some other priorities we had to work on :(

In general the approach that we need to take is: at the tim

[2020-03-18 21:48] brettlangdon commented on #1184
I can't seem to read today, I realize now I didn't really address your question.

[2020-03-18 21:52] Kyle-Verhoog commented on #1184
Hi @kwhickey! (@brettlangdon beat me to the reply, but I'll still add my thoughts)

Thanks for the very detailed and insightful write-up (made grokking the issue a ton easier) and your patience. At first pass all your reasoning seems correct to me. Continuing a trace to a forked process should be doable but it looks like there's a bug somewhere along the way in the forked process which is resultin

[2020-03-20 11:33] kwhickey commented on #1184
@brettlangdon I tried your suggested workaround of **activating** the context in the subprocess, but it didn't take. It does not seem to jump-start the tracing again in the subprocess.

These lines changed in `job_to_be_done(...)` in the above code. Please try out the sample app and see if you can get it to initiate tracing with any other workarounds.

_NOTE: I did not need to pass in the `span_id

[2020-03-22 11:45] andrei-shabanski opened #1299 "Feature request: encode/databases support"
I wonder whether you have thought about integration with [databases](https://github.com/encode/databases)?

This quite popular tool provides asynchronous API to execute SqlAlchemy queries. databases uses asyncpg, aiomysql, and aiosqlite drivers which unfortunately weren't integrated yet. So no way to trace queries at all.

What do you think of it? If you've not got a plan, can I help to implement

[2020-03-22 15:39] lior-neuman commented on #662
We're on our first day of evaluating APM; this bug kills the application, so in our case it's a blocker.
Any update on this?

[2020-03-23 13:59] yesthesoup commented on #796
I had the same issue in my flask application. Application logs ended up being duplicated on DataDog because `dd-trace run` injected its configuration before I could configure it in the application. Instead of running my app with `dd-trace run`, I have

[code]
before defining the Flask app.

[dd-trace-py's official documentation](http://pypi.datadoghq.com/trace/docs/web_integrations.html) was helpf

[2020-03-24 18:35] plannigan opened #1304 "No py3.8 manylinux wheels"
Can this project start publishing py38 manylinux wheels? The [package says](https://github.com/DataDog/dd-trace-py/blob/d14bfec34db3d8cd9544863b1b444746fcd369ee/setup.py#L132) it supports it. And it looks like [CI is configured](https://github.com/DataDog/dd-trace-py/blob/d14bfec34db3d8cd9544863b1b444746fcd369ee/.circleci/config.yml#L168) to test it. However, there aren't any [wheels published for

[2020-03-24 19:24] majorgreys commented on #1304
Thanks @plannigan for catching this!

This was because when I released the wheels I had not updated to the latest mage of `quay.io/pypa/manylinux1_x86_64`. We will be fixed in our next release.

[2020-03-24 19:26] plannigan commented on #1304
Thanks.

[2020-03-24 20:55] someboredkiddo opened #1306 "Feature request - Cross service tracing for calls made in a Tornado app via its httpclient library"
We've really enjoyed the insight that dd-trace-py has given us with the [Requests library](http://pypi.datadoghq.com/trace/docs/other_integrations.html#requests), in particular how external API calls made with the requests library are automatically traced and exposed in the APM (see below screenshot)

![image](https://user-images.githubusercontent.com/1919925/77475011-82a95180-6dee-11ea-9ccc-808d5

[2020-03-24 21:16] majorgreys commented on #1304
I have now uploaded py38 manylinux wheels for 0.33.0, 0.34.1 and 0.35.0:

[code]

[2020-03-24 23:10] someboredkiddo commented on #1306
I see - looks like we want to leverage [HTTPPropagator().inject](https://github.com/DataDog/dd-trace-py/blob/d14bfec34db3d8cd9544863b1b444746fcd369ee/ddtrace/propagation/http.py#L35) to inject datadog distributed tracing headers into the http call

so something like below might work?

[code]

[2020-03-25 08:31] #1304 closed

[2020-03-25 18:01] Kyle-Verhoog commented on #1306
Hi @someboredkiddo

This is something that would be a great addition to the library if you're interested!

Yes, you would inject the span context headers and then on the other end you'll have to extract them from the headers. See our documentation here: http://pypi.datadoghq.com/trace/docs/advanced_usage.html#http-client.

Your example's on the right track, you should just have to `extract` the co

[2020-03-25 18:03] Kyle-Verhoog commented on #1299
Hi @andrei-shabanski!

This is a sweet library. We haven't thought about integrating with it yet but we'd love to have you contribute if you're up to it 😄.

[2020-03-26 15:01] zhammer commented on #1306
if it helps, here's a simplified version how we set this up! (once this has been live for a bit with no hiccups i can contribute a PR 😄)

[code]

(didn't test this simplified writeup btw, may have an issue or two but this is the general idea)

[2020-03-26 15:19] Kyle-Verhoog commented on #1306
@zhammer this is great!

We'd probably go for a monkey patching solution to add to the library, but the logic is pretty much what we'd like 😄.

[2020-03-27 17:46] mjhaller commented on #324
Does this also work for Django Rest Framework?

[2020-03-27 21:45] majorgreys commented on #324
@mjhaller Here's a sample trace for https://github.com/encode/rest-framework-tutorial

![image](https://user-images.githubusercontent.com/155673/77803079-b1bffd00-7052-11ea-9ddd-72d9374b4a58.png)

[2020-03-30 15:02] luvpreetsingh opened #1316 "Datadog Agent sends traces to localhost even when agent address is changed"
### Which version of dd-trace-py are you using?
[code]

### Which version of the libraries are you using?

[code]

### How can we reproduce your problem?

This issue has already been reported (#798 and #1155 ) but I think not much information was given in those issues and also not much activity has happened in that thread. If you think my issue is not useful, please close it.

I think you should h

[2020-03-30 15:18] majorgreys commented on #1316
Thank you for the detailed explanation. From the looks of it, your approach should work, though I do wonder if those modifications to your `settings.DATADOG_TRACE` are in fact being made. Some print debugging could help us confirm that those settings are what you expect them to be before the tracer is configured.

Being that you are on 0.34.0, I would encourage you to try enabling and configuring

[2020-03-30 15:37] luvpreetsingh commented on #1316
Thank you @majorgreys for the quick response and the suggestion.

I would like to add that we had recently switched to `0.34.0`. Earlier we were on `0.24.0`. Even then this issue was there.

About the settings.DATADOG_TRACE thing, I'm not sure how to do the _print debugging_ you are referring to? Can you please let me know how can I help you get the debug statements you need?

[2020-03-30 15:46] majorgreys commented on #1316
Sure, what I meant was printing (or logging) the values of that dictionary to inspect it. You can also enable the capturing of the tracer logs as described in the Django integration documentation. If you set the environment variable `DATADOG_TRACE_DEBUG=true` and the log level to debug for your traced application, you should see debug messages from the tracer as it is initialized and configured.

[2020-03-30 19:11] #1274 closed

[2020-04-01 20:48] lumberj opened #1328 "Import errors when trying to use profiler"
Thanks for taking the time for reporting an issue!

Before reporting an issue on dd-trace-py, please be sure to provide all
necessary information.

If you're hitting a bug, make sure that you're using the latest version of this
library.

### Which version of dd-trace-py are you using?
0.35.0

### Which version of the libraries are you using?

[code]

### How can we reproduce your problem?

[code]

[2020-04-02 06:33] Kyle-Verhoog commented on #1184
Hi @kwhickey,

I got a chance to dig into this issue... I think we have a solution in #1331.

Basically there were two problems:

1. The one outlined in #1331.

2. The child processes are terminating before the writer is able to write (it writes every 1 second, but doesn't start until the first trace is passed to it). This can be mitigated by adding `tracer.writer.flush_queue()` in your child proc

[2020-04-02 06:35] jd commented on #1328
Hi,

It looks like the extension has not been compiled. How did you install the library?

[2020-04-02 13:56] lumberj commented on #1328
Following the normal instructions,

[code]

This is being tested in an Alpine Linux container

[2020-04-02 21:12] lumberj commented on #1328
So this definitely looks like an issue with building in Alpine Linux:

In python:3.7 (Debian)

[code]

There may be a build time dependency missing, but I don't see any errors during `pip install`

[2020-04-02 22:11] jd commented on #1328
There are 3 different problems:
1. We provide pre-built wheels for Linux, but Alpine is not compatible with them, so you have to install it by source
2. Alpine does not have any C compiler by default, so you can't compile our wheels
3. Our wheel building / install mechanism should but it does not

I'll fix 3. by making sure you see an error when installing. That being said, this is not going to so

[2020-04-02 23:14] lumberj commented on #1328
I ran with `-v` and I can see the `gcc` failure now:

[code]

[2020-04-03 12:22] jd commented on #1328
I've tried compiling the library on Alpine, and it fails with some Cython generated code for the stack collector.
I'll look into that, though in the meantime I'd suggest switching to e.g. Debian based images.

[2020-04-03 12:23] k4nar commented on #1076
I've tried to make fix, but I think that the tests will have to be rewritten as well. Aiopg 1.0 is only compatible with the async/await syntax, which is not used everywhere in ddtrace.

[2020-04-03 14:42] maximillianus opened #1335 "How to run ddtrace-run with flask app in AWS elastic beanstalk?"
I am trying to run ddtrace-run in AWS elastic beanstalk environment. As far as I know, the steps to run ddtrace according to the [docs](https://docs.datadoghq.com/tracing/setup/python/) in python's flask are:
1. Install ddtrace. `pip install ddtrace`
2. Include `ddtrace-run` in entry command. `ddtrace-run python app.py`

But in elastic beanstalk, we cannot configure the entry command as usually th

[2020-04-03 14:49] Kyle-Verhoog commented on #1335
Hi @maximillianus, since you can't use `ddtrace-run` you can instead use `ddtrace` manually with the following code:

[code]
for things to work smoothly we recommend doing this as soon as possible in your application, preferably before importing other libraries.

Let me know if this works! 🙂

[2020-04-03 14:51] maximillianus commented on #1335
Hi @Kyle-Verhoog !

Thanks for the response! I have seen that option of running it too but I am just wondering if there's some way we can add the `ddtrace-run` command when running it with elastic beanstalk.

Will try that first then. 👍

[2020-04-03 14:58] Kyle-Verhoog commented on #1335
Ah okay, I see. I'm not familiar with elastic beanstalk myself.

A quick search seems to show that if you're using docker that you just have to specify an `Entrypoint` in your configuration. https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/single-container-docker-configuration.html

But again, I'm not familiar with the platform 😄

[2020-04-03 15:49] maximillianus commented on #1335
ah yes, using Docker is another option but my deployment method is not using Docker 😅 , so I can't use that as well.

Let me try using what you suggested first 😄 .

As long as this snippet below runs what `ddtrace-run` is running, I think I should be pretty good.
[code]

[2020-04-03 15:53] jd commented on #1076
I think we avoided the async/await syntax because we used to support Python 3.4. That's not the case anymore, so we should be fine using it now.

[2020-04-03 17:54] JonathanAquino opened #1336 ""No module named 'Cython'" when pip installing ddtrace 0.36.0"
### Which version of dd-trace-py are you using?

0.36.0

### Which version of the libraries are you using?

2to3==1.0
astroid==2.3.1
awscli==1.15.0
Babel==2.6.0
botocore==1.10.0
click==6.7
colorama==0.3.7
ddtrace==0.34.0
docutils==0.14
Flask==1.0.2
Flask-Babel==0.11.2
isort==4.3.21
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
lazy-object-proxy==0.0.0
MarkupSafe==1.0
mccabe==0.6.1
msgpack==1.0.0

[2020-04-03 19:41] JonathanAquino commented on #1336
Ok, thanks.

[2020-04-03 19:41] #1336 closed

[2020-04-03 21:35] kwhickey commented on #1184
@Kyle-Verhoog  Thanks for the progress on this!

I looked at and tested your solution. It looks to be a combination of activating the context in the child process as @brettlangdon mentioned, but also in combination with flushing the queue before exiting the child process to be sure all spans are sent.

It does work, even on the the version I have, when adding both of these to the test-app above. H

[2020-04-03 22:18] Kyle-Verhoog commented on #1184
Ah you're right! I forgot about our `atexit` handler. I've seen it in the past where short-lived forked processes do not send spans. Not sure why it's not firing in subprocesses 🤔.

I'll also have to look deeper into the semantics of `atexit`. Agreed, it's not ideal to have the try-finally logic to get your spans sent.

[2020-04-05 16:11] zhammer opened #1337 "logging in `ddtrace.context.Context` causes deadlock"
### Summary
`Context.close_span` logs out any unfinished child spans when the parent span closes. if log injection is enabled, the patched logger [tries to get the current span](https://github.com/DataDog/dd-trace-py/blob/682f9d9fdf8a5ad4285cc6adc31e8177599f5d0a/ddtrace/contrib/logging/patch.py#L38) which [tries to grab the same lock](https://github.com/DataDog/dd-trace-py/blob/682f9d9fdf8a5ad4285

[2020-04-05 22:44] zhammer commented on #1337
put up #1338 as a possible fix for this

[2020-04-06 11:40] jd commented on #1328
Compilation on Alpine fails and I'm unable to make it work so far — there's a conversion issue around `pthread_t` and `int` triggered with `gcc`.

As it's discouraged to use Alpine for Python image anyway¹, I recommend switching to another Docker image.

¹ https://pythonspeed.com/articles/alpine-docker-python/

[2020-04-06 12:40] casimir opened #1341 "How to trace Django management commands?"
### Which version of dd-trace-py are you using?
0.37.0

### Which version of the libraries are you using?
Django 1.11.23

### How can we reproduce your problem?
After following the [Django setup tutorial](http://pypi.datadoghq.com/trace/docs/web_integrations.html#django) run a Django command. For exemple `python manage.py shell`.

Note that the result is the same for the `patch_all()` and the `ddt

[2020-04-06 13:39] majorgreys commented on #1337
@zhammer I have reproduced this and will review your PR shortly. Thank you for reporting this with a reproducible test!

https://gist.github.com/majorgreys/8d1d1ed6f47f8b50bdc070bfa93df325

[2020-04-06 13:46] zhammer commented on #1337
@majorgreys ooh, multi-file gists! times have changed :)

[2020-04-06 18:12] kylejohnson commented on #962
@Kyle-Verhoog Any update on that `rq` integration?  It would be very useful for a project that I'm currently working on.

[2020-04-06 19:15] #1337 closed

[2020-04-06 20:52] majorgreys commented on #1003
@juzna @alesveselka We are sorry for not updating this issue sooner.

@zhammer's recent fix for a related issue brought this issue up again. However, the issue here is not a deadlock caused by library internal logging.

Instead, the infinite loop appears that this issue was resolved by the new contextvars-based tracer for Python 3.7 added in 0.29.0 which does not repeatedly call the `BaseSelectorE

[2020-04-06 20:52] #1003 closed

[2020-04-06 23:13] zhammer commented on #1306
nevermind! these were asynchronous requests that were intentionally not awaited (which is why we ran into #1337)

[2020-04-07 14:34] Kyle-Verhoog commented on #962
Hi @kylejohnson!

Unfortunately some other stuff came up that had precedence. But it's not forgotten. The integration is mostly complete in #1111. We just have to get it over the finish line. I'll see if I can get it back up to date to be reviewed by the team 🙂

[2020-04-07 16:46] majorgreys commented on #968
@SuyogSoti, I am sorry it took us so long to follow up on your question.

Without seeing the contents of `make_request` it is hard for me to be sure where the problem is arising. But you are correct that `tracer.current_span()` should return the the "Overall" parent span if the child spans created by `make_request` have been finished. For instance:

[code]

Outputs:

[code]

Does this help? If not

[2020-04-07 17:10] SuyogSoti commented on #968
Thank you so much. The problem has been resolved to my knowledge. Thanks!

[2020-04-07 17:10] #968 closed

[2020-04-07 17:25] majorgreys commented on #1341
While we don't have an auto-instrumentation for the management commands, you can manually instrument them following the [documentation](http://pypi.datadoghq.com/trace/docs/basic_usage.html#manual-instrumentation). Remember you will need to set a service name for the entry point for your commands.

For example:

[code]

[2020-04-07 20:26] zhammer opened #1344 "feature proposal: user sitecustomization.py directory env var"
hey ddtrace team. i've been thinking that a clean way to add some custom setup across all our python apps would be to add a `sitecustomize.py` that'd be called by `ddtrace-run` in the following codeblock:
https://github.com/DataDog/dd-trace-py/blob/872a8880e942bf76296b83c703ca00a7e3c3eded/ddtrace/bootstrap/sitecustomize.py#L124-L141

there are a few issues with this:
1. we'd need to update `PYTHON

[2020-04-07 20:29] zhammer commented on #1344
the code change needed here would be super light and i'd be happy to put up a PR to try this out.

basic idea is:
[code]

[2020-04-07 22:56] zhammer commented on #1344
also for some context, some things i'd want to do in a custom `sitecustomize.py` / init script are:
1. setup custom client integrations / patches
2. if the current invocation is a cron job, start a trace at start of run and setup `atexit` handler to close trace
3. add filters to the tracer

[2020-04-08 14:54] majorgreys commented on #1344
I think this makes sense as a PR for adding a user-specified directory to the `ddtrace-run` bootstrap.

@zhammer: Want to get it started and we can iterate on this from there?

[2020-04-08 15:33] zhammer commented on #1344
@majorgreys will do

[2020-04-08 17:01] browniebroke opened #1349 "New Django integration: opt-out of middleware instrumentation"
I'm currently trying the new Django integration introduced in #1161 while upgrading from 0.31.0 to 0.35.0 and have some feedback.

The new middleware instrumentation seems like a good idea, but in our case, it's causing our flame graph to become bloated with a lot of traces. We have ~30 middleware installed and they easily look like this, making them hard to navigate:

<img width="362" alt="Screen

[2020-04-08 20:08] kylejohnson commented on #962
@Kyle-Verhoog Nice, thank you for the update!  I'm happy to see all of the work that has already been done in #1111.

[2020-04-09 03:00] kylejohnson commented on #962
The custom job class that @sburns posted above works pretty well for me, but I'm having some trouble accurately reporting services and spans, and associating child and parent traces.

Could someone give me some tips on how to instrument traces in a case similar to as follows?  Ideally, I'd like for a single trace to be followed from the entry point, through rq, and in to the various worker jobs.

[2020-04-09 13:06] maximillianus commented on #1335
@Kyle-Verhoog
It seems to work using the patch_all() and it is sending metric for various libraries I used including aws sns, flask, and postgres. Can I disable some of those libraries by passing it to patch_all's arguments?

 I am also still curious about running using `ddtrace-run`. I saw in [here](https://github.com/DataDog/dd-trace-py/blob/master/docs/advanced_usage.rst#id112), we can add ddtr

[2020-04-11 09:30] maximillianus commented on #1279
Ah sweet thread. I am also wondering how to disable tracing since `DATADOG_TRACE_ENABLED` env var does not seem being used in ddtrace library.

This info below not available in the latest version of ddtrace
https://github.com/DataDog/dd-trace-py/blob/3f8970e17e62fd81e916c14a0b5f5f70c2107036/ddtrace/commands/ddtrace_run.py#L27

This is the latest version:
https://github.com/DataDog/dd-trace-py/blob

[2020-04-12 03:46] zhammer opened #1353 "bug: tornado "in io loop" logic (python2.7)"
(disclaimer: i don't think this really deserves a fix but want to flag for the team and justify my venturing down this rabbit hole)

# bug

discovered some interesting behavior with the tornado stack context for python2.7, where just *making* a `tornado.ioloop.IOLoop` in synchronous code destroyed my current ddtrace context.

[code]

on further investigation i found that a lot of `TracerStackConte

[2020-04-13 13:38] dreki commented on #1155
Just a note to say that this is still affecting us daily.

[2020-04-13 17:00] youssefNM opened #1355 "ddtrace.profiling.exporter.http.UploadFailed"
### Which version of dd-trace-py are you using?
`ddtrace[profile]==0.36.1`

### Which version of the libraries are you using?

[code]

### How can we reproduce your problem?

[code]
### What is the result that you get?
I get this error occasionally, it seems profiling failed to export the events, though this does not apply for all, since i can see new events from my app in profiling page.
[code]

[2020-04-14 13:23] jd commented on #1355
Thank you @youssefNM for the report.
As this does not seem to be a problem with the profiler code itself but seems to be related to the infrastructure, could you open a support ticket https://www.datadoghq.com/support/ ?

We'd probably need more info, such as where it's come from and some timestamps to see how/if it matches on our side.

Thank you!

[2020-04-14 16:42] nathan-knight opened #1362 "Feature Request: Configurable Distributed Tracing Headers"
`dd-trace-go` provides the option to configure which headers contain the trace and parent span ids for the propagator (https://godoc.org/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#PropagatorConfig).

It would be really useful to have the ability to configure which headers `HTTPPropagator` uses to inject/extract the trace and span ids. This could be via an environment variable. For our particul

[2020-04-15 14:46] #1328 closed

[2020-04-15 20:23] Kyle-Verhoog commented on #1353
@zhammer thanks for digging into this! Haven't got a chance to read through this thoroughly, but just wanted to give a quick shout-out 😄

It does seem like it's a bug that simply making a new ioloop destroys the current context 😕.

[2020-04-15 20:31] brettlangdon commented on #1263
@paddycarey I was able to put together a quick prototype for a solution for this problem in #1365 if you want to give it a look over.

Just as a heads up, this is one possible approach we could take, we'll need to review as a team as there are a few other directions we could go in as well.

If you had any interest in trying out this change locally let me know and I can help you get that going.

[2020-04-16 12:31] casimir commented on #1341
I finally grok the logic behind the tracer. Your example was a big help. Thanks.

[2020-04-16 12:31] #1341 closed

[2020-04-16 21:53] anandhs opened #1367 "distributed tracing support for ContextVarsScopeManager"
`ddtrace==0.33.0`
`opentracing==2.3.0`
`sanic==19.12.2`

I have a `sanic` application with custom tracing for which I am using `opentracing` along with `ContextVarsScopeManager` as the scopeManager.

I am trying to use [`Tracer.extract`](https://github.com/DataDog/dd-trace-py/blob/master/ddtrace/opentracer/tracer.py#L287) to extract distributed trace headers from the request.  I have confirmed tha

[2020-04-16 22:41] thehesiod commented on #399
seems like it works now post https://github.com/DataDog/dd-trace-py/pull/1352.  I've change to PR to just ensure this works going forwards

[2020-04-16 22:42] thehesiod commented on #399
going to close this then, but if someone could review and merge that PR it would be nice

[2020-04-16 22:42] #399 closed

[2020-04-16 23:14] Kyle-Verhoog commented on #1367
Hi @anandhs!

What is the erroneous behaviour you're seeing? Is it failing to extract the headers or is not activating the propagated trace information? Does the `ctx` variable in your example contain the correct data?

I'm not sure if your example code is 100% complete but it seems like `tracer.extract` is not being used (which would activate the context). Else, in your example you would still ne

[2020-04-17 10:19] thehesiod opened #1370 "latest pytest is causing most of the async tests to be skipped"
unfortunately this is not an error :(

I have a fix here: https://github.com/DataDog/dd-trace-py/pull/1369/files#diff-b91f3d5bd63fcd17221b267e851608e8L186

to be merged here: https://github.com/DataDog/dd-trace-py/pull/1319

[2020-04-17 11:30] jd commented on #1370
That's not really a "fix" though, more a workaround. We want to be able to run latest pytest.

Do you have a "trace" of those tests that are skipped?

[2020-04-17 16:31] anandhs commented on #1367
Hi @Kyle-Verhoog , thanks. using the suggested code, helped me move forward. I will close this issue.

[2020-04-17 16:31] #1367 closed

[2020-04-17 16:37] thehesiod commented on #1370
https://circleci.com/api/v1.1/project/github/DataDog/dd-trace-py/236166/output/104/0?file=true&allocation-id=5e99768216826a22c8c1894e-0-build%2F5206909E

[2020-04-17 16:37] thehesiod commented on #1370
search for skipped

[2020-04-17 16:38] thehesiod commented on #1370
any recent build just look at the aiohttp tests

[2020-04-17 16:48] thehesiod commented on #1076
I'll work on this here https://github.com/DataDog/dd-trace-py/pull/973

[2020-04-20 17:30] Kyle-Verhoog commented on #1335
Hi @maximillianus, sorry for the delayed reply. Glad to hear it worked.

Yes you can disable specific libraries with `patch_all` eg. `path_all(flask=False)`.

You should be able to use `ddtrace-run` with `mod_wsgi`.

Let me know if you have further questions 🙂. I think we can close out this issue otherwise.

[2020-04-20 17:44] maximillianus commented on #1335
Hi in fact I cant use it with mod_wsgi. Would like to know how. 🙏🏻

[2020-04-20 18:27] Kyle-Verhoog commented on #1335
Hmm interesting. We don't test with it but I thought it would work. Are you seeing any errors or it just doesn't work?

[2020-04-27 21:31] Kyle-Verhoog opened #1385 "pip install fails for ddtrace 0.37 on macOS"
`pip install ddtrace==0.37` fails on macOS with

[code]

[2020-04-27 21:35] Kyle-Verhoog commented on #1385
It seems to be an issue with building `psutil` on macOS. https://github.com/giampaolo/psutil/issues/1632 seems to be the same problem and can be worked around by fiddling with the macOS sdks.

See solutions

1. Deleting old SDK: https://github.com/giampaolo/psutil/issues/1632#issuecomment-564800186

2. Renaming temporarily to install `psutil`: https://github.com/giampaolo/psutil/issues/1632#issuec

[2020-04-28 19:22] Anto59290 commented on #1355
I had the same issue while running a test in a AWS Cloud9 instance (should be easy for you to reproduce). Is this because the server is unreacheable (port closed ?) ?

Tell me if you need more specific data.

[2020-04-28 19:48] dmarkey opened #1388 "0.37.0 fails to build on Alpine Linux 3.9"
Thanks for taking the time for reporting an issue!

Before reporting an issue on dd-trace-py, please be sure to provide all
necessary information.

If you're hitting a bug, make sure that you're using the latest version of this
library.

### Which version of dd-trace-py are you using?
0.37.0
### Which version of the libraries are you using?

This was building a wheel of ddtrace only
You can copy/p

[2020-04-28 22:02] zhammer commented on #1353
hey @Kyle-Verhoog ! i just saw this in the 0.37.0 release notes:

is there a PR that fixed this issue?

[2020-04-29 02:19] Kyle-Verhoog commented on #1353
That's so strange that #1353 was included in that line 🤔

We use a script to generate those comments... strange... anyway the corresponding PR should have been https://github.com/DataDog/dd-trace-py/pull/1352.

Sorry about that!

[2020-04-29 06:30] jd commented on #1355
@Anto59290 what do you mean by the server is unreachable?
Our servers are reachable, but they might not be from Cloud9 — I wouldn't know about that.
Feel free to open a support ticket if you need help setting this up.

[2020-04-29 06:54] Anto59290 commented on #1355
That's what I meant, yes.

IMHO, it is a bit of a shame that the documentation does not provide more details about this. Which port should be open, etc. I know that on other Datadog features more details are given on port/network configuration.
I am in trial period, with only a few days left, and I know that with the support it takes a while to get a proper answer, so I think I'll just give up on

[2020-04-29 07:01] jd commented on #1355
Port 443 to `intake.profile.datadoghq.com` or `intake.profile.datadoghq.eu` depending on your site.

[2020-04-29 18:07] kjagiello commented on #1355
I've sent a ticket about this already, but it seems that the Python setup docs for profiling are missing the mention about `DD_SITE`. Took my some time to realise that I forgot to set it to the EU host.

[2020-04-29 19:20] Anto59290 commented on #1355
Thanks @kjagiello that was indeed my issue. Which lead to the "Unable to export" error (with a 403 error status, not with a 502 like in the initial issue, my bad). If you simply follow the documentation from https://docs.datadoghq.com/fr/tracing/profiling/?tab=python and your account is configured in EU (that is my case), it will not work. After `export DD_SITE=datadoghq.eu` everything went smooth

[2020-04-30 08:30] kjagiello opened #1392 "Profile exporter crashes when DD_VERSION is used"
The profile exporter is crashing due to `DD_VERSION` not being encoded before generating the export request. Looking at the code the same applies probably to `DD_ENV` as well.

Lines missing `.decode("utf-8")`: https://github.com/DataDog/dd-trace-py/blob/6a14a9ba75a6866d968ddf0eb84b8fee5bd3f49c/ddtrace/profiling/exporter/http.py#L144-L150

**Sentry traceback**
![image](https://user-images.githubus

[2020-04-30 10:12] #1388 closed

[2020-04-30 11:43] jd commented on #1370
If you look at pytest changelog, it seems that those tests were actually never ran, but the warning failed to be emitted in some cases:
https://docs.pytest.org/en/latest/changelog.html

The problem is that pytest-asyncio does not play well with unittest, so most tests should be rewritten without unittest.

[2020-04-30 11:58] AlwxSin commented on #1385
Not only on MacOS. On `python:3.7.4-alpine3.10` image too.

[2020-04-30 13:38] jd commented on #1385
See #1388 for Alpine.

[2020-04-30 23:29] #1349 closed

[2020-05-01 02:30] thehesiod commented on #1370
it used to work, the recent version broke it, here's some magic you can add to the top of each file to ensure it runs all the tests with the new version: `pytestmark = pytest.mark.asyncio`

[2020-05-02 00:54] Kyle-Verhoog commented on #1153
Hi @AdrianLC, thanks for reporting.

It looks like our opentracing tracer did not support getting the active span properly. It would work if using opentracing code but would not for the datadog instrumentation.

I've added a fix for this in #1395.

[2020-05-04 11:14] #1392 closed

[2020-05-04 11:16] jd commented on #1370
Did you try?
I tried, and it still ignores the tests because they are `unittest`-based.

[2020-05-04 20:57] tony commented on #925
Is this related? https://github.com/beezz/ddtrace-graphql

[2020-05-05 20:20] tredzko opened #1404 "Customizable top-level django resource name"
In newer versions of ddtrace (with #1161 or later, so I believe 0.34.0 based on the milestone), there was a change introduced where the method was placed in the resource name, and for Django versions 2.2+, root resource names for Django were changed to be the url regex. You can find that in the [patch file for Django](https://github.com/DataDog/dd-trace-py/blame/master/ddtrace/contrib/django/patch

[2020-05-06 17:32] maximillianus commented on #1335
Sorry I kinda missed the notification for your reply. I simply don't know how to make it work in the first place. Using mod_wsgi, the flask app is not run just by executing the entry file in terminal like `python3 app.py` for example. If I understand it correctly, there is this daemon service that runs the webserver and reads configuration from a config file.

I don't know how to integrate the ddt

[2020-05-07 06:21] weisurya opened #1413 "Failed to send traces to Datadog Agent - Time out"
### Which version of dd-trace-py are you using?
`0.37.0`

### Which version of the libraries are you using?
[code]

You can copy/paste the output of `pip freeze` here.
[code]

### How can we reproduce your problem?
Here is how I initiate the project with ddtrace
`ddtrace-run gunicorn index:app`

and on the system env, I customized these variables
[code]

### What is the result that you get?
[code]

[2020-05-07 15:34] youssefNM opened #1414 "Profiling causing gunicorn timeout (flask app)"
### Which version of dd-trace-py are you using?

[code]

### Which version of the libraries are you using?

[code]

### How can we reproduce your problem?
I'm using a simple hello world app flask application for the demonstration of this problem but the issue is happening also when we tried to integrated the profiling with our Flask project, i thought the issue was related to our project code but